<app-header *ngIf="!isAdmin"></app-header>
<app-pre-header *ngIf="!isAdmin"></app-pre-header>
<router-outlet></router-outlet>
<app-link-interested *ngIf="!isAdmin"></app-link-interested>
<app-footer *ngIf="!isAdmin"></app-footer>
