<div class="row">
  <div class="col-md-12">
    <h3 class="title" style="display:inline-block;">ข่าวสารและกิจกรรม</h3>
    <button class="btn btn-primary" routerLink="addoredit/0" style="width:100px;margin-left:20px;margin-bottom: 10px;">เพิ่ม</button>
    <!-- <button class="btn btn-primary" routerLink="addoredit/2/0" style="width:100px;margin-left:20px;margin-bottom: 10px;">เพิ่มกิจกรรม</button> -->
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">

      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" [class.active]="status == 'All'">
          <a (click)="postStatus('All')">ทั้งหมด
            <span class="badge">{{nbAll}}</span>
          </a>
        </li>
        <li role="presentation" [class.active]="status == 'Published'">
          <a (click)=" postStatus( 'Published') ">เผยแพร่
            <span class="badge ">{{nbPublished}}</span>
          </a>
        </li>
        <li role="presentation" [class.active]="status=='Draft'">
          <a (click)="postStatus('Draft')">ร่าง
            <span class="badge">{{nbDraft}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-8">
            หัวข้อ
          </th>
          <th class="col-md-2">
            วันที่
          </th>
          <th class="col-md-1">
            จำนวนผู้ชม
          </th>
          <th class="col-md-1"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of rows | async" [class.active]="r.status == 'Draft' && status == 'All'">
          <td>
            <h5 *ngIf="r.status == 'Draft' && status == 'All'" style="display: inline;">
              <span class="label label-default">ร่าง</span>
            </h5>

            <a [routerLink]="['addoredit',r.id]">
              {{getType(r) == 1 ? 'ข่าวสาร' : 'กิจกรรม'}} / {{r.title}}
            </a>
          </td>
          <td>{{r.createdDate | thaidate}}</td>
          <td>{{getPageView(r)}}</td>
          <td>
            <a (click)="delete(r)">
              <i class="fa fa-lg fa-fw fa-trash "></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination></pagination>
  </div>
</div>
