.image-picker-item {
  margin: 0 auto;
  display: inline-block;
}

.image-picker-item-selected img {
  border: 2px solid #999;
}

.image-picker-item {
  height: 180px;
  width: 180px;
  margin-top: 15px;
  margin-right: 15px;
}

.image-picker-item img {
  height: 180px;
  width: 180px;
}
