<div class="row">
  <div class="col-md-12">
    <!-- <h3 class="title" style="display:inline-block;">เพิ่มข่าวประชาสัมพันธ์</h3> -->
  </div>
</div>

<div [formGroup]="form">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">หัวข้อข่าว</label>
      <div class="col-sm-10">
        <input class="form-control" formControlName="title">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">หมวด</label>
      <div class="col-sm-3">
        <select class="form-control" formControlName="type">
          <option [value]="1">ข่าวสาร</option>
          <option [value]="2">กิจกรรม</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div style="margin-bottom:20px;">
  <app-wyswygeditor (onChange)="editorChanged($event)" (onReady)="editorReady($event)" #editor></app-wyswygeditor>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="display:inline-block;">รายการภาพ
          <span class="badge ">{{images.length}}</span>
        </h3>
        <button class="btn btn-primary" (click)="addPicture()">เพิ่ม</button>
        <input type="file" style="display: none;" accept="image/*" #file multiple (change)="fileBrowserChanged($event)">
      </div>
      <div class="panel-body">


        <div class="image-picker-item" *ngFor="let img of images">
          <span class="closebtn" style="
                                color: #333;    
                                font-weight: bold;
                                font-size: 20px;
                                cursor: pointer;         
                                background: rgba(209, 209, 209, 0.85);
                                border-radius: 50%;
                                height: 30px;
                                width: 30px;
                                display: grid;
                                position: absolute;
                                margin-left:-15px;
                                margin-top:-15px;
                                text-align: center;
                                " (click)="removeImage(img)">&times;</span>
          <div>
            <img class="img img-responsive" [attr.src]="img.data" />
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <button class="btn btn-default btn-block" (click)="cancel()">
      ยกเลิก</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-default btn-block" (click)="save(true)" [disabled]="invalid">
      <span class="glyphicon glyphicon-floppy-disk"></span>Previews</button>
  </div>
  <div class="col-md-3">
    <button class="btn btn-primary btn-block" (click)="save(false)" [disabled]="invalid">
      <span class="glyphicon glyphicon-floppy-disk"></span>บันทึกและเผยแพร่</button>
  </div>
  <div class="col-md-1">
  </div>

</div>
