<div class="page-slider margin-bottom-40">

  <!-- BEGIN STYLE CUSTOMIZER -->
  <div class="color-panel ">
    <div class="color-mode-icons icon-color"></div>
    <div class="color-mode-icons icon-color-close"></div>
    <div class="color-mode">
      <br>
      <h3>ชำระเงิน</h3>
      <br>
      <p>หมายเลขอ้างอิง 1 (Ref 1):</p>
      <input type="text" value="">
      <p>หมายเลขอ้างอิง 2 (Ref 2):</p>
      <input type="text" value="">
      <p>
        <img src="assets/corporate/img/pay-way-icon.png">
      </p>
      <p class="text-center">
        <input type="button" value="ชำระเงิน" class="pay-btn">
      </p>
      <p class="remark">
        <span class="color-red">หมายเหตุ:</span> กรุณากรอกหมายเลขอ้างอิง 1, หมายเลขอ้างอิง 2 ที่ปรากฎบนใบแจ้งการชำระเงินของท่าน เพื่อชำระเงินออนไลน์ได้ทันที
      </p>
    </div>
  </div>
  <!-- END BEGIN STYLE CUSTOMIZER -->


  <div id="carousel-example-generic" class="carousel slide carousel-slider">
    <!-- Indicators -->
    <ol class="carousel-indicators carousel-indicators-frontend">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <!-- First slide -->
      <div class="item   active" style="background: url('assets/corporate/img/frontend-slider-1.jpg');">
        <div class="container">
          <div class="carousel-position-six text-uppercase text-center">
            <!-- <h2 class="margin-bottom-20 animate-delay carousel-title-v5" data-animation="animated fadeInDown">
                              Expore the power <br/>
                              <span class="carousel-title-normal">of Metronic</span>
                          </h2> -->
            <p class="carousel-subtitle-v5 border-top-bottom margin-bottom-0" data-animation="animated fadeInDown">
              <img src="assets/corporate/img/banner-link.png">
            </p>
            <a class="carousel-btn-green" href="#" data-animation="animated fadeInUp">ชำระเงิน</a>
          </div>
        </div>
      </div>

      <!-- Second slide -->
      <div class="item  " style="background: url('assets/corporate/img/frontend-slider-2.jpg');">
        <div class="container">
          <div class="carousel-position-six text-uppercase text-center">
            <!-- <h2 class="margin-bottom-20 animate-delay carousel-title-v5" data-animation="animated fadeInDown">
                              Expore the power <br/>
                              <span class="carousel-title-normal">of Metronic</span>
                          </h2> -->
            <p class="carousel-subtitle-v5 border-top-bottom margin-bottom-0" data-animation="animated fadeInDown">
              <img src="assets/corporate/img/banner-link.png">
            </p>
            <a class="carousel-btn-green" href="#" data-animation="animated fadeInUp">ชำระเงิน</a>
          </div>
        </div>
      </div>


    </div>

    <!-- Controls -->
    <a class="left carousel-control carousel-control-shop carousel-control-frontend" href="#carousel-example-generic" role="button"
      data-slide="prev">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    <a class="right carousel-control carousel-control-shop carousel-control-frontend" href="#carousel-example-generic" role="button"
      data-slide="next">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
  </div>
</div>


<div class="slider responsive" id="fav-menu" #favMenu>
  <div>
    <a href="">
      <img src="assets/corporate/img/fav_icon_01.png">
      <img src="assets/corporate/img/fav_logo_01.png" class="icon-fav" alt="ค่าเช่าที่ราชพัสดุกรมควบคุมโรค">
      <p>ค่าเช่าที่ราชพัสด
        <br>กรมควบคุมโรค</p>
    </a>
  </div>
  <div>
    <a href="">
      <img src="assets/corporate/img/fav_icon_01.png">
      <img src="assets/corporate/img/fav_logo_02.png" class="icon-fav" alt="ค่าเช่าอสังหาริมทรัพย์
กรมราชทัณฑ์">
      <p>ค่าเช่าอสังหาริมทรัพย์
        <br>กรมราชทัณฑ์</p>
    </a>
  </div>
  <div>
    <a href="">
      <img src="assets/corporate/img/fav_icon_01.png">
      <img src="assets/corporate/img/fav_logo_03.png" class="icon-fav" alt="ค่าเช่าอสังหาริมทรัพย์ กรมส่งเสริมการเกษตร">
      <p>ค่าเช่าอสังหาริมทรัพย์
        <br>กรมส่งเสริมการเกษตร</p>
    </a>
  </div>
  <div>
    <a href="">
      <img src="assets/corporate/img/fav_icon_02.png">
      <img src="assets/corporate/img/fav_logo_04.png" class="icon-fav" alt="ค่าเช่ค่าธรรมเนียม สมัครสอบ กรมการค้าภายใน">
      <p>ค่าเช่ค่าธรรมเนียม
        <br>สมัครสอบ
        <br>กรมการค้าภายใน</p>
    </a>
  </div>
  <div>
    <a href="">
      <img src="assets/corporate/img/fav_icon_02.png">
      <img src="assets/corporate/img/fav_logo_05.png" class="icon-fav" alt="ค่าธรรมเนียม การสอบแข่งขัน กรมที่ดิน">
      <p>ค่าธรรมเนียม
        <br>การสอบแข่งขัน
        <br>กรมที่ดิน</p>
    </a>
  </div>
  <div>
    <a href="">
      <img src="assets/corporate/img/fav_icon_02.png">
      <img src="assets/corporate/img/fav_logo_06.png" class="icon-fav" alt="ค่าธรรมเนียม การสอบแข่งขัน กรมธนารักษ์">
      <p>ค่าธรรมเนียม
        <br>การสอบแข่งขัน
        <br>กรมธนารักษ์</p>
    </a>
  </div>
</div>
