<div class="main">
  <div class="container">
    <!-- BEGIN SERVICE BOX -->
    <div class="row service-box margin-bottom-40">
      <div class="col-md-6 col-sm-6 border-right-1px">
        <div class="service-box-heading">
          <h1 class="text-center h1-bg1">
            <strong>หน่วยงาน</strong>
          </h1>
          <table width="90%" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td align="center">
                  <img src="assets/corporate/img/service-logo-1.png" alt="กรมตำรวจ">
                </td>
                <td align="center">
                  <img src="assets/corporate/img/service-logo-2.png" alt="กรมธนารักษ์">
                </td>
                <td align="center">
                  <img src="assets/corporate/img/service-logo-3.png" alt="กรมที่ดิน">
                </td>
              </tr>
              <tr>
                <td align="center">กรมตำรวจ</td>
                <td align="center">กรมธนารักษ์</td>
                <td align="center">กรมที่ดิน</td>
              </tr>
              <tr>
                <td align="center">
                  <img src="assets/corporate/img/service-logo-4.png" alt="กรมทรัพย์สินทางปัญญา">
                </td>
                <td align="center">
                  <img src="assets/corporate/img/service-logo-5.png" alt="กรมสรรพสามิต">
                </td>
                <td align="center">
                  <img src="assets/corporate/img/service-logo-6.png" alt="กรมโรงงานอุตสาหกรรม">
                </td>
              </tr>
              <tr>
                <td align="center">กรมทรัพย์สิน
                  <br> ทางปัญญา
                </td>
                <td align="center">กรมสรรพสามิต</td>
                <td align="center">กรมโรงงาน
                  <br> อุตสาหกรรม
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
      <div class="col-md-6 col-sm-6">
        <div class="service-box-heading">
          <h1 class="text-center h1-bg2">
            <strong>หมวดบริการ</strong>
          </h1>
          <table width="90%" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td align="center">
                  <img src="assets/corporate/img/service-icon-1.png" alt="ค่าธรรมเนียม">
                </td>
                <td align="center">
                  <img src="assets/corporate/img/service-icon-2.png" alt="ค่าปรับ">
                </td>
                <td align="center">
                  <img src="assets/corporate/img/service-icon-3.png" alt="ค่าเช่า">
                </td>
              </tr>
              <tr>
                <td align="center">ค่าธรรมเนียม</td>
                <td align="center">ค่าปรับ</td>
                <td align="center">ค่าเช่า</td>
              </tr>
              <tr>
                <td align="center">
                  <img src="assets/corporate/img/service-icon-4.png" alt="ค่าขายทรัพย์สินและบริการ">
                </td>
                <td align="center">
                  <img src="assets/corporate/img/service-icon-5.png" alt="เงินรายได้และเงินเหลือจ่าย (ส่วนราชการ)">
                </td>
                <td align="center">
                  <img src="assets/corporate/img/service-icon-6.png" alt="อื่นๆ">
                </td>
              </tr>
              <tr>
                <td align="center">ค่าขายทรัพย์สิน
                  <br>และบริการ</td>
                <td align="center">เงินรายได้และเงินเหลือจ่าย
                  <br>(ส่วนราชการ)</td>
                <td align="center">อื่นๆ</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>
    <!-- END SERVICE BOX -->

    <!-- BEGIN BLOCKQUOTE BLOCK
      <div class="row quote-v1 margin-bottom-30">
        <div class="col-md-9">
          <span>Metronic - The Most Complete &amp; Popular Admin &amp; Frontend Theme</span>
        </div>
        <div class="col-md-3 text-right">
          <a class="btn-transparent" href="" target="_blank"><i class="fa fa-rocket margin-right-10"></i>Preview Admin</a>
        </div>
      </div>
      <!-- END BLOCKQUOTE BLOCK -->

  </div>
  <div class="container recent-work-news">

    <!-- BEGIN RECENT WORKS -->
    <div class="row recent-work ">

      <div class="col-md-12">
        <h1 class="h1-bg3">
          <strong>ข่าวสารและกิจกรรม</strong>
        </h1>
        <p class="text-center">
          <a (click)="openNews()" style="cursor: pointer;" class="open-news-btn text-center">
            <img src="assets/corporate/img/open-news-btn.png">
          </a>
        </p>
        <div id="news">

          <div class="owl-carousel owl-carousel3">
            <div class="recent-work-item" *ngFor="let n of news">
              <div class="news-date">
                <h1>{{n.createdDate | date : 'd' }}</h1>
                <p>{{n.createdDate | date : 'MMM, yyyy' }}</p>
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
              </div>
              <a class="recent-work-description" [routerLink]="['/public/news',n.id]">
                <img [attr.src]="getThumbnail(n)" alt="{{n.title}}" class="img-responsive">
                <strong>{{n.title}}</strong>
                <p>
                  {{n.content | shortcontent}}
                </p>
                <u class="pull-left color-white" style="
                    text-decoration:  none;
                    background:  white;
                    color:  #1f3874;
                    padding: 1px 5px 1px 5px;
                    border-radius: 40px;
                ">จำนวนผู้เข้าชม {{n | postview}} คน</u>
                <u class="pull-right color-white">อ่านรายละเอียด ></u>
              </a>
            </div>
          </div>

        </div>
        <!-- END hide -->

      </div>

    </div>

    <div class="more-btn text-center">
      <a [routerLink]="['/public/news/type/all']" class="btn-orange">ข่าวสารและกิจกรรมทั้งหมด +</a>
    </div>

    <!-- END RECENT WORKS -->


  </div>
</div>
