<div class="row profile-title">
  <h1>ลงทะเบียน</h1>
  <span>หน้าหลัก / ลงทะเบียน /
    <a href="">ลงทะเบียนสำหรับประชาชน</a>
  </span>
</div>
<div class="main profile-personal">
  <div class="container">
    <div class="margin-bottom-40"></div>

    <div class="full-panel-register">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div id="user-register-accordion">
          <h3>ลงทะเบียนสำหรับประชาชน</h3>
          <div>
            <!-- <h1>ประชาชน</h1> -->
            <div class="frm_col col_3">
              <label>เลขประจำตัวประชาชน
                <small class="red">*</small>
              </label>
              <input formControlName="citizenid" type="text" value="" placeholder="เลขประจำตัวประชาชน 13 หลัก" appNumberOnly="true" maxlength="13">
              <div *ngIf="registerForm.get('citizenid').hasError('personWrongFormat') && registerForm.get('citizenid').touched" class="alert-danger ">
                {{registerForm.get('citizenid').errors.personWrongFormat}}</div>
            </div>

            <div class="frm_col col_3">
              <label>วันเกิด
                <small class="red">*</small>
              </label>
              <app-datepicker formControlName="birthDate" placeholder="วว/ดด/ปปปป"></app-datepicker>
            </div>

            <div class="clearfix"></div>
            <div class="frm_col half-n-half">
              <label>คำนำหน้า (ภาษาไทย)
                <small class="red">*</small>
              </label>
              <!-- Dropdown Custom -->
              <div class="select">
                <select formControlName="titleNameTH">
                  <option *ngFor="let title of titles" [value]="title.id">{{title.desc}}</option>
                </select>
                <div class="select_arrow">
                </div>
              </div>
              <!-- Dropdown Custom -->
            </div>

            <div class="frm_col half-n-half">
              <label>ชื่อจริง (ภาษาไทย)
                <small class="red">*</small>
              </label>
              <input formControlName="fnameTH" type="text" value="">
            </div>

            <div class="frm_col half-n-half">
              <label>นามสกุล (ภาษาไทย)
                <small class="red">*</small>
              </label>
              <input formControlName="lnameTH" type="text" value="">
            </div>

            <div class="frm_col half-n-half">
              <label>ชื่อกลาง (ภาษาไทย)</label>
              <input formControlName="mnameTH" type="text" value="">
            </div>

            <div class="clearfix"></div>

            <div class="frm_col half-n-half">
              <label>คำนำหน้า (ภาษาอังกฤษ)</label>
              <!-- Dropdown Custom -->
              <div class="select">
                <select formControlName="titleNameEN">
                  <option *ngFor="let title of titles" [value]="title.id">{{title.desc2}}</option>
                </select>
                <div class="select_arrow">
                </div>
              </div>
              <!-- Dropdown Custom -->
            </div>

            <div class="frm_col half-n-half">
              <label>ชื่อจริง (ภาษาอังกฤษ)</label>
              <input formControlName="fnameEN" type="text" value="">
            </div>

            <div class="frm_col half-n-half">
              <label>นามสกุล (ภาษาอังกฤษ)</label>
              <input formControlName="lnameEN" type="text" value="">
            </div>


            <div class="frm_col half-n-half">
              <label>ชื่อกลาง (ภาษาอังกฤษ)</label>
              <input formControlName="mnameEN" type="text" value="">
            </div>


            <div class="clearfix"></div>


            <div class="frm_col col_3">
              <label>อีเมล
                <small class="red">*</small>
              </label>
              <app-email-input formControlName="email"></app-email-input>
              <div *ngIf="registerForm.get('email').hasError('pattern') && registerForm.get('email').touched  && registerForm.get('email').value.length > 0"
                class="alert-danger ">อีเมลไม่ถูกต้อง</div>
              <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched && registerForm.get('email').value.length === 0"
                class="alert-danger ">กรุณากรอกอีเมล์</div>
            </div>
            <div class="frm_col col_3">
              <label>เบอร์โทรศัพท์เคลื่อนที่
                <small class="red">*</small>
              </label>
              <input formControlName="mobile" type="text" value="" appNumberOnly="true" maxlength="10">
              <div *ngIf="registerForm.get('mobile').hasError('required') && registerForm.get('mobile').touched" class="alert-danger ">กรุณากรอกเบอร์โทร</div>
              <div *ngIf="registerForm.get('mobile').invalid && registerForm.get('mobile').touched && registerForm.get('mobile').value.length > 0"
                class="alert-danger ">เบอร์โทรไม่ถูกต้อง</div>
            </div>


            <div class="clearfix margin-bottom-35"></div>

          </div>

          <h3>ที่อยู่ตามทะเบียนบ้าน</h3>
          <div>
            <app-input-address [forRegister]="true" #registerAddress></app-input-address>

            <div class="clearfix margin-bottom-35"></div>
          </div>

          <div class="frm_col half">
            <h3 class="floatleft-widthauto">ที่อยู่ในการจัดส่งเอกสาร&nbsp;&nbsp;&nbsp;</h3>
            <div class="floatleft-widthauto" style="margin-top:10px;">
              <input (change)="copyAddress($event,registerForm.get('registerAddress'),registerForm.get('billingAddress'))" type="checkbox"
                name="sameaddress2" id="sameaddress2">
              <label for="sameaddress2">ที่อยู่เดียวกับที่อยู่ตามทะเบียนบ้าน</label>
            </div>
          </div>
          <div class="clearfix"></div>


          <div>

            <app-input-address [forRegister]="true" #billingAddress></app-input-address>

            <div class="clearfix margin-bottom-35"></div>


            <h3>รหัสผ่าน</h3>
            <div>
              <div class="frm_col col_3">
                <label>กรุณากรอกรหัสผ่าน
                  <small class="red">*</small>
                </label>
                <input formControlName="password" type="password" value="">
                <div *ngIf="registerForm.hasError('pattern') && registerForm.get('password').touched" class="alert-danger ">รหัสผ่านต้องประกอบไปด้วยตัวพิมพ์ใหญ่ ตัวพิมพ์เล็ก ตัวเลขและตัวอักษรพิเศษ</div>
                <div *ngIf="registerForm.hasError('minlength')" class="alert-danger ">กรุณากรอกรหัสผ่านอย่างน้อย {{registerForm.errors.minlength}} ตัว</div>
                <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword').touched" class="alert-danger ">รหัสผ่านไม่ตรงกัน</div>
                <div *ngIf="registerForm.hasError('passwordContainName')" class="alert-danger ">รหัสผ่านมีส่วนประกอบจากชื่อ</div>
              </div>

              <div class="frm_col col_3">
                <label>ยืนยันรหัสผ่าน
                  <small class="red">*</small>
                </label>
                <input formControlName="confirmPassword" type="password" value="">
              </div>
              <div class="clearfix"></div>
              <small>* รหัสผ่านต้องมีมากกว่าหรือเท่ากับ 10 ตัวอักษร โดยมีการผสมกันระหว่างตัวอักษรที่เป็นตัวพิมพ์ปกติ ตัวพิมพ์ใหญ่
                ตัวเลข และสัญลักษณ์เข้าด้วยกัน</small>
            </div>
          </div>
          <!-- content 2 -->
        </div>

        <div class="register-form-footer">
          <div class="col-lg-4 col-sm-12">
            <div class="floatleft-widthauto">
              <label>
                <h3 class="blue">
                  <strong>กรุณาเลือกวิธียืนยันตัวตน
                    <small class="red">*</small>
                  </strong>
                </h3>
              </label>
            </div>
            <div class="clearfix"></div>
            <div class="floatleft-widthauto">
              <input type="radio" name="verifiedType" id="verifyacc1" formControlName="verifiedType" value="1">
              <label for="verifyacc1">รหัสผ่าน OTP</label>
            </div>
            <div class="floatleft-widthauto margin-left-20">
              <input type="radio" name="verifiedType" id="verifyacc2" formControlName="verifiedType" value="2">
              <label for="verifyacc2">อีเมล</label>
            </div>
          </div>

          <div class="clearfix mobile-only margin-bottom-20"></div>
          <div class="col-lg-8 col-sm-12">
            <h3 class="blue">
              <strong>กรุณากรอกแคปช่า
                <div class="clearfix mobile-only"></div>เพื่อยืนยันความเป็นมนุษย์</strong>
            </h3>
            <div>
              <app-captcha formControlName="captcha"></app-captcha>
            </div>
          </div>
        </div>

        <div class="frm_col padding-top-35">
          <input required formControlName="agreement" type="checkbox" name="acceptcond" id="acceptcond">
          <label for="acceptcond">
            <a href="files/posts/{{agreement.postId}}/agreement.pdf" target="_blank">
              กรุณาคลิกเพื่ออ่านเงื่อนไข ก่อนคลิกยอมรับเงื่อนไขในการลงทะเบียน</a>
          </label>
        </div>

        <div class="frm_col text-center padding-top-35">
          <input type="submit" value="ลงทะเบียน" class="btn-form btn-register-white" [disabled]="!registerForm.valid || inProgress">
          <input type="reset" value="ล้างข้อมูล" class="btn-form btn-reset" (click)="revert()">

        </div>


      </form>
    </div>
    <!-- register panel -->

  </div>
</div>

<div class="modal fade" id="Modal-otp-register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  #modalOTPRegister>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal-otp-register">ยืนยันรหัสผ่าน</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>โปรดรอรับ OTP password และให้ทำการยืนยันรหัสผ่านทันที ภายใน 15 นาที หลังจากได้รับ OTP password</span>
        <br>
        <br>
        <span>รหัสอ้างอิง:
          <strong>QGATY2</strong>
        </span>
        <br>
        <span>รหัสผ่าน OTP</span>
        <br>
        <input type="password" placeholder="">
      </div>
      <div class="modal-footer">
        <div class="frm_col text-center ">
          <input type="submit" value="ยืนยันรหัสผ่าน" class="btn-form btn-done-white">
          <input type="reset" value="รับรหัสผ่านใหม่" class="btn-form btn-reotp">
        </div>
        <small class="red pull-left">** ท่านไม่สามารถใช้รหัสผ่าน OTP นี้ได้อีก หากท่านทำการร้องขอรหัสผ่านใหม่</small>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal-otp-register" #modalRegisterComplete>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="isRegisterComplete" class="modal-title" id="Modal-otp-register">ลงทะเบียนสำเร็จ</h5>
        <h5 *ngIf="!isRegisterComplete" class="modal-title" id="Modal-otp-register">ลงทะเบียนไม่สำเร็จ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span *ngIf="isRegisterComplete" aria-hidden="true">ระบบได้ส่งลิงค์การยืนยันตัวตนไปยังอีเมลที่ท่านได้ลงทะเบียนไว้ กรุณายืนยันตัวตนของท่าน ก่อนการเข้าใช้บริการระบบ</span>
        <span *ngIf="!isRegisterComplete" aria-hidden="true">ไม่สามารถลงทะเบียนได้ เนื่องจากท่านเคยลงทะเบียนแล้ว หากท่านจำรหัสผ่านไม่ได้ กรุณาคลิก
          <a href="home?action=forgotpassword">ลืมรหัสผ่าน</a>
        </span>
      </div>
    </div>
  </div>
</div>
