<div class="pre-header">
  <div class="container">
    <div class="row">
      <!-- BEGIN TOP BAR LEFT PART -->
      <div class="col-md-12 col-sm-12 col-lg-12 additional-shop-info additional-menu">
        <div class="header-navigation font-transform-inherit">
          <ul>
            <li class="dropdown">
              <a routerLink="/home">
                หน้าหลัก
              </a>
              <!-- <ul class="dropdown-menu">
                          <li><a href="blog.html">Blog Page</a></li>
                          <li><a href="blog-item.html">Blog Item</a></li>
                        </ul> -->
            </li>

            <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                ค้นหารายการ
                <i class="fa fa-chevron-down" aria-hidden="true"></i>

              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="header-navigation-content">
                    <div class="row">
                      <div class="col-md-6 header-navigation-col">
                        <h4>หน่วยงาน</h4>
                        <ul>
                          <li>
                            <a href="#">
                              <img src="assets/corporate/img/drop-icon_01.jpg">กรมตำรวจ</a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="assets/corporate/img/drop-icon_02.jpg">กรมธนารักษ์</a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="assets/corporate/img/drop-icon_03.jpg">กรมที่ดิน</a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="assets/corporate/img/drop-icon_04.jpg">กรมทรัพย์สินทางปัญญา</a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="assets/corporate/img/drop-icon_05.jpg">กรมสรรพสามิต</a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="assets/corporate/img/drop-icon_06.jpg">กรมโรงงานอุตสาหกรรม</a>
                          </li>
                          <li class="text-center">
                            <br>
                            <a href="#" class="btn-orange">ดูทั้งหมด</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6 header-navigation-col">
                        <h4 class="blue">หมวดค่าบริการ</h4>
                        <ul>
                          <li>
                            <a href="#">
                              <img src="assets/corporate/img/drop2-icon_01.jpg">ค่าธรรมเนียม</a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="assets/corporate/img/drop2-icon_02.jpg">ค่าปรับ</a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="assets/corporate/img/drop2-icon_03.jpg">ค่าเช่า</a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="assets/corporate/img/drop2-icon_04.jpg">ค่าขายทรัพย์สินและบริการ</a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="assets/corporate/img/drop2-icon_05.jpg">เงินรายได้และเงินเหลือจ่าย</a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="assets/corporate/img/drop2-icon_06.jpg">อื่นๆ</a>
                          </li>
                          <li class="text-center">
                            <br>
                            <a href="#" class="btn-orange">ดูทั้งหมด</a>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown pull-right">
              <form class="search-form">
                <input type="submit" value="">
                <input type="text" placeholder="ค้นหา ..." class="">
              </form>

              <!-- <ul class="dropdown-menu">
                          <li><a href="blog.html">Blog Page</a></li>
                          <li><a href="blog-item.html">Blog Item</a></li>
                        </ul> -->
            </li>



            <!-- END TOP SEARCH -->
          </ul>
        </div>
      </div>
      <!-- END TOP BAR LEFT PART -->

    </div>
  </div>
</div>
