<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div id="user-profile-accordion" appAccordian>
    <h3>ประเภทผู้ใช้งาน</h3>
    <div>
      <h1>ประชาชน</h1>
      <div class="frm_col half">
        <label>คำนำหน้า (ภาษาไทย)
          <small class="red">*</small>
        </label>
        <!-- Dropdown Custom -->
        <div class="select">
          <select formControlName="titleNameTH">
            <option *ngFor="let title of titles" [value]="title.desc">{{title.desc}}</option>
          </select>
          <div class="select_arrow">
          </div>
        </div>
        <!-- Dropdown Custom -->
      </div>

      <div class="frm_col half">
        <label>ชื่อจริง (ภาษาไทย)
          <small class="red">*</small>
        </label>
        <input formControlName="fnameTH" type="text" value="">
      </div>

      <div class="frm_col half">
        <label>ชื่อกลาง (ภาษาไทย)</label>
        <input formControlName="mnameTH" type="text" value="">
      </div>

      <div class="frm_col half">
        <label>นามสกุล (ภาษาไทย)
          <small class="red">*</small>
        </label>
        <input formControlName="lnameTH" type="text" value="">
      </div>

      <div class="frm_col half">
        <label>คำนำหน้า (ภาษาอังกฤษ)
          <small class="red">*</small>
        </label>
        <!-- Dropdown Custom -->
        <div class="select">
          <select formControlName="titleNameEN">
            <option *ngFor="let title of titles" [value]="title.desc2">{{title.desc2}}</option>
          </select>
          <div class="select_arrow">
          </div>
        </div>
        <!-- Dropdown Custom -->
      </div>

      <div class="frm_col half">
        <label>ชื่อจริง (ภาษาอังกฤษ)
          <small class="red">*</small>
        </label>
        <input formControlName="fnameEN" type="text" value="">
      </div>

      <div class="frm_col half">
        <label>ชื่อกลาง (ภาษาอังกฤษ)</label>
        <input formControlName="mnameEN" type="text" value="">
      </div>

      <div class="frm_col half">
        <label>นามสกุล (ภาษาอังกฤษ)
          <small class="red">*</small>
        </label>
        <input formControlName="lnameEN" type="text" value="">
      </div>

      <div class="frm_col half-n-half">
        <label>วันเกิด
          <small class="red">*</small>
        </label>
        <app-datepicker formControlName="birthDate" placeholder="วว/ดด/ปปปป" disabled="true"></app-datepicker>
      </div>
      <div class="frm_col half-n-half">
        <label class="desktop-only">&nbsp;&nbsp;&nbsp;</label>
        <input formControlName="age" type="text" value="" class="text-right padding-right-30" id="user-age"> ปี
      </div>

      <div class="frm_col half-n-half">
        <label>อีเมล
          <small class="red">*</small>
        </label>
        <app-email-input formControlName="email"></app-email-input>
        <div *ngIf="editForm.get('email').hasError('pattern') && editForm.get('email').touched  && editForm.get('email').value.length > 0"
          class="alert-danger ">อีเมลไม่ถูกต้อง</div>
        <div *ngIf="editForm.get('email').hasError('required') && editForm.get('email').touched && editForm.get('email').value.length === 0"
          class="alert-danger ">กรุณากรอกอีเมล์</div>
      </div>
      <div class="frm_col half-n-half">
        <label>เบอร์โทรศัพท์เคลื่อนที่
          <small class="red">*</small>
        </label>
        <input formControlName="mobile" type="text" value="" appNumberOnly="true" maxlength="10">
        <div *ngIf="editForm.get('mobile').hasError('required') && editForm.get('mobile').touched" class="alert-danger ">กรุณากรอกเบอร์โทร</div>
        <div *ngIf="editForm.get('mobile').invalid && editForm.get('mobile').touched && editForm.get('mobile').value.length > 0"
          class="alert-danger ">เบอร์โทรไม่ถูกต้อง</div>
      </div>

    </div>

    <h3>ข้อมูลที่อยู่</h3>
    <div>
      <h4>ที่อยู่ตามทะเบียนบ้าน</h4>
      <app-input-address #registerAddress></app-input-address>
      <div class="clearfix"></div>

      <div class="frm_col half">
        <h4 class="floatleft-widthauto">ที่อยู่ในการจัดส่งเอกสาร&nbsp;&nbsp;&nbsp;</h4>
        <div class="floatleft-widthauto">
          <input (change)="copyAddress($event,editForm.get('registerAddress'),editForm.get('billingAddress'))" type="checkbox" name="sameaddress2"
            id="sameaddress2">
          <label for="sameaddress2">ที่อยู่เดียวกับที่อยู่ตามทะเบียนบ้าน</label>
        </div>
      </div>
      <div class="clearfix"></div>

      <app-input-address #billingAddress></app-input-address>
      <div class="clearfix"></div>
    </div>
    <!-- content 2 -->
  </div>
  <!-- accordion -->


  <div class="profile-form-footer">
    <h3 class="blue">
      <strong>การยืนยันตัวตน</strong>
    </h3>
    <div>
      <app-captcha formControlName="captcha"></app-captcha>
    </div>
  </div>

  <div class="frm_col text-center padding-top-35">
    <i class="fa fa-spinner fa-spin fa-1x" *ngIf="inProgress"></i>
    <input type="submit" value="บันทึก" class="btn-form btn-save" [disabled]="formInvalid()">
    <input type="reset" value="ล้างข้อมูล" class="btn-form btn-reset" (click)="revert()">
  </div>
</form>


<app-dialog [title]="titleMessage" #EditResultDialog>
  <p>
    {{message}}
  </p>
</app-dialog>
