<div class="row padding-top-35" style="margin:0px;">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">

        <div [formGroup]="form">
          <div id="user-profile-accordion">
            <h3>เปลี่ยนรหัสผ่าน</h3>
            <div class="no-border-bottom no-bottom-space">
              <!-- <h1>นิติบุคคล</h1> -->


              <div class="frm_col half">
                <label>รหัสผ่านใหม่
                  <small class="red">*</small>
                </label>
                <input type="password" formControlName="password">
                <div *ngIf="form.get('password').hasError('pattern') && form.get('password').touched" class="alert-danger ">รหัสผ่านต้องประกอบไปด้วยตัวอักษรและตัวเลข</div>
              </div>
              <div class="clearfix"></div>

              <div class="frm_col half">
                <label>ยืนยันรหัสผ่านใหม่
                  <small class="red">*</small>
                </label>
                <input type="password" formControlName="confirmPassword">
                <div *ngIf="form.hasError('pattern') && form.get('password').touched" class="alert-danger ">รหัสผ่านต้องประกอบไปด้วยตัวอักษรและตัวเลข</div>
                <div *ngIf="form.hasError('minlength') && form.get('password').touched" class="alert-danger ">กรุณากรอกรหัสผ่านอย่างน้อย {{form.errors.minlength}} ตัว</div>
                <div *ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword').touched" class="alert-danger ">รหัสผ่านไม่ตรงกัน</div>
                <div *ngIf="form.hasError('passwordContainName')" class="alert-danger ">รหัสผ่านมีส่วนประกอบจากชื่อ</div>
              </div>



            </div>

          </div>
          <!-- accordion -->



          <div class="profile-form-footer" style="
          width:  100%;
          margin: 0px;
      ">
            <h3 class="blue">
              <strong>การยืนยันตัวตน</strong>
            </h3>
            <app-captcha formControlName="captcha"></app-captcha>
          </div>

          <div class="frm_col text-center padding-top-35">
            <i class="fa fa-spinner fa-spin fa-1x" *ngIf="inProgress"></i>
            <input type="submit" value="บันทึก" class="btn-form btn-save" (click)="submit()" [disabled]="(form.invalid && !form.pristine) || inProgress">
            <input type="button" value="ยกเลิก" class="btn-form btn-cancel" (click)="cancel()">
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<app-dialog [title]="titleMessage" #EditResultDialog>
  <p>
    {{message}}
  </p>
</app-dialog>
