<div class="row aboutus-title">
  <h1>ตรวจสอบใบเสร็จรับเงิน</h1>
  <span>หน้าหลัก /
    <a>ตรวจสอบใบเสร็จรับเงิน</a>
  </span>
</div>


<div class="main">
  <div class="container aboutus-text  ">

    <div class="frm_col ">

      <div class="frm_col col_67pwcol3 padding-top-50" [formGroup]="form">
        <h1 class="aboutus-pretext">ตรวจสอบใบเสร็จรับเงิน (e-Receipt)</h1>
        <div class="searchbill-panel padding-bottom-20">
          <div class="no-border-bottom no-bottom-space">
            <!-- <h1>นิติบุคคล</h1> -->

            <div class="frm_col check-bill ">
              <label>กรุณาอัพโหลดใบเสร็จรับเงินอิเล็กทรอนิกส์ที่ต้องการตรวจสอบ
                <small class="red">*</small>
              </label>
              <app-file-input formControlName="file" accept=".pdf" sizeExceedMessage="ใบเสร็จรับเงินประเภทไฟล์ .pdf เท่านั้น และมีขนาดไม่เกิน 2 MB"
                maxMB="2"></app-file-input>
              <small>สามารถอัพโหลดไฟล์ .pdf เท่านั้น และขนาดไม่เกิน 2 MB.</small>

            </div>



          </div>



          <div class="searchbill-form-footer margin-top-0 padding-bottom-20">
            <h3 class="blue">
              <strong>การยืนยันตัวตน</strong>
            </h3>
            <div>
              <app-captcha formControlName="captcha" #captcha></app-captcha>
            </div>
          </div>

          <div class="frm_col text-center padding-top-15">
            <i class="fa fa-spinner fa-spin fa-1x" *ngIf="loading"></i>
            <input type="button" (click)="submit()" value="ตรวจสอบ" class="btn-form btn-search" [disabled]="form.invalid">
            <!-- <input type="button" value="ล้างข้อมูล" class="btn-form btn-reset"> -->
          </div>

        </div>
      </div>


      <div class="frm_col col_3 padding-top-50 margin-bottom-50">
        <img src="assets/corporate/img/check-bill.png">
      </div>

    </div>
    <div class="frm_col margin-bottom-30 searchbill-result" *ngIf="result">
      <div *ngIf="!result.result">
        <img src="assets/corporate/img/check-bill-notfound.png" class="">
        <h4>ใบเสร็จรับเงินไม่ถูกต้อง</h4>
        <p>กรุณาเลือกเอกสารใหม่ เพื่อตรวจสอบอีกครั้ง</p>
      </div>
      <div *ngIf="result.result">
        <img src="assets/corporate/img/check-bill-found.png" class="">
        <h4>ใบเสร็จรับเงินถูกต้อง</h4>
      </div>
    </div>


  </div>
</div>
