<div class="row aboutus-title">
  <h1>ค้นหาใบเสร็จรับเงิน</h1>
  <span>หน้าหลัก /
    <a>ค้นหาใบเสร็จรับเงิน</a>
  </span>
</div>


<div class="main">
  <div class="container aboutus-text ">

    <div class="frm_col margin-bottom-20 border-bottom-1">

      <form class="frm_col col_67pwcol3 padding-top-50" [formGroup]="form" (submit)="submit()">
        <h1 class="aboutus-pretext">ค้นหาใบเสร็จรับเงิน (e-Receipt)</h1>
        <div class="searchbill-panel padding-bottom-20">
          <div class="no-border-bottom no-bottom-space">
            <!-- <h1>นิติบุคคล</h1> -->



            <div class="frm_col half">
              <label>เลขที่ใบแจ้งการชำระ </label>
              <input type="text" formControlName="value" placeholder="เลขที่ใบแจ้งการชำระ" maxlength="14" appNumberOnly="true">
              <div *ngIf="errors?.value" class="alert-danger">เลขที่ใบแจ้งการชำระไม่ถูกต้อง กรุณาระบุให้ถูกต้อง</div>
            </div>

            <div class="frm_col half">
              <label>เลขที่อ้างอิง (Ref.) 1</label>
              <input type="text" formControlName="value2" placeholder="เลขที่อ้างอิง (Ref.) 1" maxlength="16" appNumberOnly="true">
              <div *ngIf="errors?.value2" class="alert-danger">เลขที่อ้างอิง (Ref.) 1 ไม่ถูกต้อง กรุณาระบุให้ถูกต้อง</div>
            </div>

          </div>



          <div class="searchbill-form-footer margin-top-0 padding-bottom-20">
            <h3 class="blue">
              <strong>การยืนยันตัวตน</strong>
            </h3>
            <div>
              <app-captcha formControlName="captcha" #captcha></app-captcha>
            </div>
          </div>

          <div class="frm_col text-center padding-top-15">
            <i class="fa fa-spinner fa-spin fa-1x" *ngIf="loading"></i>
            <input type="submit" value="ค้นหา" class="btn-form btn-search" [disabled]="form.get('captcha').invalid">
            <input type="button" value="ล้างข้อมูล" class="btn-form btn-reset" (click)="clear()">
          </div>



        </div>
      </form>


      <div class="frm_col col_3 padding-top-50 margin-bottom-50">
        <img src="assets/corporate/img/e-Receipt.png">
      </div>

    </div>
    <div class="frm_col margin-bottom-20 border-bottom-1 mobile-table-in" *ngIf="rows">
      <table width="100%" border="0" class="download-form">
        <tr>
          <th>วันที่ชำระ</th>
          <th>เลขที่ใบเสร็จรับเงิน</th>
          <th>เลขที่ใบแจ้งการชำระ</th>
          <th>เลขที่อ้างอิง (Ref.) 1</th>
          <th>ชื่อ-นามสกุล/
            <br> นิติบุคคล/คณะบุคคล </th>
          <th>จำนวนเงิน
            <br>
            <small>(บาท)</small>
          </th>
          <th>สถานะพิมพ์ใบเสร็จ</th>
          <th>พิมพ์ใบเสร็จ</th>
        </tr>
        <tr *ngIf="rows.length == 0">
          <td colspan="8" style="text-align:center;">
            <h3>ไม่พบข้อมูล</h3>
          </td>
        </tr>

        <tr *ngFor="let row of rows">
          <td align="center">
            <p class="black">{{row.createdDate | thaidate}}</p>
          </td>
          <td align="center">
            <p class="black">{{row.billingNo}}</p>
          </td>
          <td align="center">
            <p class="black">{{row.invoiceNo}}</p>
          </td>
          <td align="center">
            <p class="black">{{row.invoice.ref1}}</p>
          </td>
          <td align="center">
            <p class="black">{{row.invoice.name}}</p>
          </td>
          <td align="center">
            <p class="black">{{row.totalAmount | number}}</p>
          </td>
          <td align="center">
            <p class="black">{{getStatus(row)}}</p>
          </td>
          <td align="center">
            <a href="{{env.billingBaseUrl}}/{{row.billingId}}" target="_blank" class="download-form-btn">
              <img src="assets/corporate/img/print-icon.png">
            </a>
          </td>
        </tr>
      </table>
    </div>


  </div>
</div>
