<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
        MENU
      </button> -->
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="site-logo" routerLink="/home">
        <img src="assets/corporate/img/logoload.png" alt="CGD e-Payment">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" method="GET" role="search">
        <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="http://www.pingpong-labs.com" target="_blank">Visit Site</a>
        </li>
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Account
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">SETTINGS</li>
            <li class="">
              <a href="#">Other Link</a>
            </li>
            <li class="">
              <a href="#">Other Link</a>
            </li>
            <li class="">
              <a href="#">Other Link</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div> -->
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container-fluid main-container">
  <div class="col-md-3 sidebar">
    <div class="row">
      <!-- uncomment code for absolute positioning tweek see top comment in css -->
      <div class="absolute-wrapper"> </div>
      <!-- Menu -->
      <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Main Menu -->
          <div class="side-menu-container">
            <ul class="nav navbar-nav admin-menu">

              <li *ngFor="let m of menu;let i = index" [ngClass]="{'panel panel-default dropdown' : m.child}">

                <a *ngIf="!m.child" [routerLink]="[m.link]" routerLinkActive="active">
                  <span class="glyphicon glyphicon-{{m.icon ? m.icon : 'list-alt'}}"></span> {{m.title}}</a>

                <a *ngIf="m.child" data-toggle="collapse" href="#dropdown-{{i}}">
                  <span class="glyphicon glyphicon-{{m.icon ? m.icon : 'list-alt'}}"></span> {{m.title}}
                  <span class="caret"></span>
                </a>

                <div *ngIf="m.child" id="dropdown-{{i}}" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="nav navbar-nav">
                      <li *ngFor="let c of m.child">
                        <a [routerLink]="[c.link]" routerLinkActive="active" [queryParams]="{title: c.title}">{{c.title}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <!-- Dropdown-->
              <!-- <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#dropdown-lvl1">
                  <span class="glyphicon glyphicon-wrench"></span>ตั้งค่า
                  <span class="caret"></span>
                </a>

                <div id="dropdown-lvl1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul class="nav navbar-nav">
                      <li>
                        <a href="#">แบนเนอร์</a>
                      </li>
                      <li>
                        <a href="#">หน่วยงาน</a>
                      </li>
                      <li>
                        <a href="#">หมวดค่าบริการ</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li> -->



            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </nav>

      </div>
    </div>
  </div>
  <div class="col-md-9 content">
    <router-outlet></router-outlet>
  </div>

</div>
