<div class="row aboutus-title">
  <h1>ข่าวสารและกิจกรรม</h1>
  <span>หน้าหลัก /
    <a [routerLink]="['/public/news',news.id]">{{news.title}}</a>
  </span>
</div>


<div class="main">
  <div class="container aboutus-text">


    <div class="col-xs-12 col-md-12 col-lg-9 padding-top-50 padding-left-0 padding-right-0">
      <h2 class="aboutus-pretext border-bottom-1">{{news.title}}</h2>

      <div id="post-items ">
        <div class="padding-top-20 desktop-only"></div>



        <div class="blog-post alternate-style post-3778 post type-post status-publish format-image has-post-thumbnail hentry category-business post_format-post-format-image">

          <div class="blog-post-alternate post-detail">
            <!-- Post Image -->
            <div class="blog-post-content">
              <div class="blog-post-meta">
                <span class="post-date">
                  <span class="post-day">{{news.createdDate | date : 'd' }}</span>
                  <br/>{{news.createdDate | date : 'MMM, yyyy' }}
                </span>
                <span class="post-format">

                  <i class="fa fa-calendar-o"></i>
                </span>
              </div>
              <div class="post-thumbnail col-lg-11 col-md-10">
                <img *ngIf="images.length == 1" [attr.src]="getThumbnail(news)" class="img-responsive" alt="" />
                <div *ngIf="images.length > 1" id="newspic" #carousel class="carousel slide" data-ride="carousel">

                  <div class="carousel-inner">

                    <div class="item" *ngFor="let img of images;let i = index" [class.active]="i == 0" [attr.data-itemindex]="i">
                      <img src="files/posts/{{img.id}}.png" class="img-responsive">
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#newspic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#newspic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <!-- /Post Image -->
              <!-- Post Content -->
              <div class="post-content col-lg-11 col-md-10">

                <ul class="post-meta padding-top-20 margin-bottom-15">
                  <li>
                    <a href=""> {{getType(news) == 1 ? 'ข่าวสาร' : 'กิจกรรม'}}</a>
                  </li>
                  <!-- <li class="pull-right social-icon-set">
                    <a href="">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="pull-right social-icon-set">
                    <a href="">
                      <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                  </li> -->
                </ul>

                <div [innerHtml]="news.content | safeHtml">

                </div>

                <div style="margin-top:50px;">
                  <u class="pull-right color-white" style="
                    text-decoration:  none;
                    background:  white;
                    color:  #1f3874;
                    padding: 1px 5px 1px 5px;
                    border-radius: 40px;
                    margin-top : 9px;
                ">จำนวนผู้เข้าชม {{news | postview}} คน</u>
                </div>

              </div>
              <!-- /Post Content -->

            </div>

          </div>

        </div>
        <!--- 1 News Left  -->




      </div>
      <!-- Post items -->


      <div class="padding-top-20 border-bottom-1"></div>
      <div class="row" style="padding:20px;" *ngIf="news.status == 'Draft'">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <button class="btn btn-default btn-block" (click)="cancel()">
            ยกเลิก</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary btn-block" (click)="save(false)" [disabled]="invalid">
            <span class="glyphicon glyphicon-floppy-disk"></span>บันทึกและเผยแพร่</button>
        </div>
        <div class="col-md-3">
        </div>

      </div>

      <div class="padding-top-35 margin-bottom-30 text-center">
        <!-- <ul class="ant-pagination ">
          <li title="1" class="ant-pagination-item ant-pagination-item-1">
            <a href="">
              < ข่าวก่อนหน้า</a>
          </li>
          <li title="2" class="ant-pagination-item ant-pagination-item-2 ant-pagination-item-active">
            <a href="">ข่าวถัดไป ></a>
          </li>
        </ul> -->
        <div class="more-btn text-center">
          <a [routerLink]="['/public/news/type/all']" class="btn-orange">ข่าวสารและกิจกรรมทั้งหมด +</a>
        </div>
      </div>



    </div>
    <!-- Left News -->

    <div class="col-xs-12 col-md-12 col-lg-3 padding-top-50 padding-left-0 padding-right-0">


      <div class="col-xs-12 col-md-12 col-lg-12">


        <h2 class="aboutus-pretext">ปฏิทินกิจกรรม</h2>
        <!--responsive-calendar -->

        <!-- Responsive calendar - START -->
        <div class="responsive-calendar">
          <div class="controls">
            <a class="pull-left" data-go="prev">
              <div class="btn">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </div>
            </a>
            <h4>
              <span data-head-month></span>
              <span data-head-year></span>
            </h4>
            <a class="pull-right" data-go="next">
              <div class="btn">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </div>
            </a>
          </div>
          <hr/>
          <div class="day-headers">
            <div class="day header" style="background:none!important;width: 14%;">จ</div>
            <div class="day header" style="background:none!important;width: 14%;">อ</div>
            <div class="day header" style="background:none!important;width: 14%;">พ</div>
            <div class="day header" style="background:none!important;width: 14%;">พฤ</div>
            <div class="day header" style="background:none!important;width: 14%;">ศ</div>
            <div class="day header" style="background:none!important;width: 14%;">ส</div>
            <div class="day header" style="background:none!important;width: 14%;">อา</div>
          </div>
          <div class="days" data-group="days">

          </div>
        </div>

      </div>


    </div>
  </div>
</div>
