<div class="row aboutus-title">
  <h1>ข่าวสารและกิจกรรม</h1>
  <span>หน้าหลัก /
    <a href="">ข่าวสารและกิจกรรม</a>
  </span>
</div>


<div class="main">
  <div class="container aboutus-text  ">
    <div class="col-xs-12 col-md-12 col-lg-9 padding-top-50 padding-left-0 padding-right-0">
      <h2 class="aboutus-pretext border-bottom-1">ข่าวสารและกิจกรรม</h2>

      <div id="post-items">
        <div class="padding-top-20"></div>


        <div *ngFor="let news of rows | async;let i = index">
          <div class="blog-post alternate-style post-3778 post type-post status-publish format-image has-post-thumbnail hentry category-business post_format-post-format-image"
            *ngIf="i % 2 == 0">

            <div class="blog-post-alternate">
              <!-- Post Image -->
              <div class="blog-post-content">
                <div class="post-thumbnail col-lg-5 col-md-6 col-sm-6 col-lg-push-7 col-md-push-6 col-sm-push-6 hidden-xs">
                  <img [attr.src]="getThumbnail(news)" class="img-responsive" width="373" height="236" alt="" />
                </div>
                <!-- /Post Image -->
                <!-- Post Content -->
                <div class="post-content col-lg-7 col-md-6 col-sm-6 col-lg-pull-5 col-md-pull-6 col-sm-pull-6">
                  <div class="blog-post-meta">

                    <span class="post-date">
                      <span class="post-day">{{news.createdDate | date : 'd' }}</span>
                      <br/> {{news.createdDate | date : 'MMM, yyyy' }}
                    </span>
                    <span class="post-format">

                      <i class="fa fa-calendar-o"></i>
                    </span>
                  </div>
                  <ul class="post-meta">
                    <li>
                      <a href="">{{getType(news) == 1 ? 'ข่าวสาร' : 'กิจกรรม'}}</a>
                    </li>

                  </ul>

                  <h5>
                    <div class="post-thumbnail col-xs-12 hidden-lg hidden-sm show-xs">
                      <img [attr.src]="getThumbnail(news)" class="img-responsive" width="373" height="236" alt="" />
                    </div>
                    <a [routerLink]="['/public/news',news.id]">
                      {{news.title}}
                    </a>
                  </h5>
                  <p>
                    {{news.content | shortcontent}}
                  </p>
                  <u class="pull-left color-white" style="
                  text-decoration:  none;
                  background:  white;
                  color:  #1f3874;
                  padding: 1px 5px 1px 5px;
                  border-radius: 40px;
                  margin-top : 9px;
              ">จำนวนผู้เข้าชม {{news | postview}} คน</u>
                  <a class="read-more big" [routerLink]="['/public/news',news.id]">อ่านรายละเอียด > </a>

                </div>
                <!-- /Post Content -->

              </div>

            </div>

          </div>
          <!--- 1 News Left  -->

          <div class="blog-post alternate-style item-right-style post-55 post type-post status-publish format-gallery has-post-thumbnail hentry category-business tag-tag1 tag-tag3 tag-tag6 post_format-post-format-gallery"
            *ngIf="i % 2 != 0">

            <div class="blog-post-alternate">
              <!-- Post Image -->
              <div class="blog-post-content">
                <div class="post-thumbnail col-lg-5 col-md-6 col-sm-6 col-xs-9 hidden-xs">
                  <img [attr.src]="getThumbnail(news)" class="img-responsive" width="373" height="236" alt="" />
                </div>

                <div class="blog-post-meta col-lg-3 col-md-3 col-sm-3  col-xs-3">
                  <span class="post-date">
                    <span class="post-day">{{news.createdDate | date : 'd' }}</span>
                    <br/> {{news.createdDate | date : 'MMM, yyyy' }}</span>

                  <span class="post-format">
                    <i class="fa fa-calendar-o"></i>
                  </span>
                </div>
                <!-- /Post Image -->
                <!-- Post Content -->
                <div class="post-content col-lg-5 col-md-5 col-sm-5  col-xs-8">

                  <ul class="post-meta">
                    <li>
                      <a href="">{{getType(news) == 1 ? 'ข่าวสาร' : 'กิจกรรม'}}</a>
                    </li>
                  </ul>
                  <h5>
                    <div class="post-thumbnail col-xs-12 hidden-lg hidden-sm show-xs">
                      <img [attr.src]="getThumbnail(news)" class="img-responsive" width="373" height="236" alt="" />
                    </div>
                    <a [routerLink]="['/public/news',news.id]">
                      {{news.title}}
                    </a>
                  </h5>

                  <p>
                    {{news.content | shortcontent}}
                  </p>

                  <u class="pull-left color-white" style="
                  text-decoration:  none;
                  background:  white;
                  color:  #1f3874;
                  padding: 1px 5px 1px 5px;
                  border-radius: 40px;
                  margin-top : 9px;
              ">จำนวนผู้เข้าชม {{news | postview}} คน</u>
                  <a class="read-more big" [routerLink]="['/public/news',news.id]">อ่านรายละเอียด ></a>
                </div>
                <!-- /Post Content -->

              </div>
            </div>

          </div>
        </div>
        <!--- 1 News Right  -->

      </div>
      <!-- Post items -->


      <div class="padding-top-20 border-bottom-1"></div>
      <pagination></pagination>

      <!-- <div class="padding-top-35 margin-bottom-30 text-center">
        <ul class="ant-pagination ">
          <li title="Previous Page" class="ant-pagination-prev">
            <a class="ant-pagination-item-link">หน้าแรก</a>
          </li>
          <li title="1" class="ant-pagination-item ant-pagination-item-1">
            <a href="">1</a>
          </li>
          <li title="2" class="ant-pagination-item ant-pagination-item-2 ant-pagination-item-active">
            <a href="">2</a>
          </li>
          <li title="3" class="ant-pagination-item ant-pagination-item-3">
            <a href="">3</a>
          </li>
          <li title="Next 5 Pages" class="ant-pagination-jump-next">
            <a class="ant-pagination-item-link"></a>
          </li>
          <li title="102" class="ant-pagination-item ant-pagination-item-6">
            <a href="">6</a>
          </li>
          <li title="Next Page" class=" ant-pagination-next" aria-disabled="false">
            <a class="ant-pagination-item-link">สุดท้าย</a>
          </li>
        </ul>
      </div> -->



    </div>
    <!-- Left News -->

    <div class="col-xs-12 col-md-12 col-lg-3 padding-top-50 padding-left-0 padding-right-0">


      <div class="col-xs-12 col-md-12 col-lg-12">

        <h2 class="aboutus-pretext">ปฏิทินกิจกรรม</h2>
        <!--responsive-calendar -->

        <!-- Responsive calendar - START -->
        <div class="responsive-calendar">
          <div class="controls">
            <a class="pull-left" data-go="prev">
              <div class="btn">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </div>
            </a>
            <h4>
              <span data-head-month></span>
              <span data-head-year></span>
            </h4>
            <a class="pull-right" data-go="next">
              <div class="btn">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </div>
            </a>
          </div>
          <hr/>
          <div class="day-headers">
            <div class="day header" style="background:none!important;width: 14%;">จ</div>
            <div class="day header" style="background:none!important;width: 14%;">อ</div>
            <div class="day header" style="background:none!important;width: 14%;">พ</div>
            <div class="day header" style="background:none!important;width: 14%;">พฤ</div>
            <div class="day header" style="background:none!important;width: 14%;">ศ</div>
            <div class="day header" style="background:none!important;width: 14%;">ส</div>
            <div class="day header" style="background:none!important;width: 14%;">อา</div>
          </div>
          <div class="days" data-group="days">

          </div>
        </div>

      </div>


    </div>
  </div>
</div>
