<div class="modal modal-default" role="dialog" #dialog>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <div class="modalbodytext" style="padding:20px;">
          <ng-content></ng-content>
        </div>
      </div>
    </div>

  </div>
</div>
