<div *ngIf="forRegister; else forEdit">
  <div [formGroup]="address">
    <!-- <h4>ที่อยู่ตามทะเบียนบ้าน</h4> -->
    <div class="frm_col half-n-half">
      <label>บ้านเลขที่
        <small class="red">*</small>
      </label>
      <input formControlName="no" type="text" value="">
    </div>

    <div class="frm_col half-n-half">
      <label>หมู่บ้าน/อาคาร/ห้องที่ </label>
      <input formControlName="village" type="text" value="">
    </div>

    <div class="frm_col half-n-half">
      <label>หมู่ที่ </label>
      <input formControlName="moo" type="text" value="">
    </div>


    <div class="frm_col half-n-half">
      <label>ตรอก </label>
      <input type="text" value="">
    </div>

    <div class="frm_col col_3">
      <label>ซอย </label>
      <input formControlName="soi" type="text" value="">
    </div>

    <div class="frm_col col_3" *ngIf="showRoad">
      <label>ถนน </label>
      <input formControlName="road" type="text" value="">
    </div>

    <div class="frm_col col_3">
      <label>จังหวัด
        <small class="red">*</small>
      </label>
      <!-- Dropdown Custom -->
      <div class="select">
        <select formControlName="provinceId">
          <option [ngValue]="null">จังหวัด</option>
          <option *ngFor="let province of provinces" [value]="province.id">{{province.nameTH}}</option>
        </select>
        <div class="select_arrow">
        </div>
      </div>
      <!-- Dropdown Custom -->
    </div>


    <div class="frm_col col_3">
      <label>เขต / อำเภอ
        <small class="red">*</small>
      </label>
      <!-- Dropdown Custom -->
      <div class="select">
        <select formControlName="amphurId">
          <option [ngValue]="null">เขต / อำเภอ</option>
          <option *ngFor="let district of districts" [value]="district.id">{{district.nameTH}}</option>
        </select>
        <div class="select_arrow">
        </div>
      </div>
      <!-- Dropdown Custom -->
    </div>

    <div class="frm_col col_3">
      <label>แขวง / ตำบล
        <small class="red">*</small>
      </label>
      <!-- Dropdown Custom -->
      <div class="select">
        <select formControlName="tambonId">
          <option [ngValue]="null">แขวง / ตำบล </option>
          <option *ngFor="let subdistrict of subdistricts" [value]="subdistrict.id">{{subdistrict.nameTH}}</option>
        </select>
        <div class="select_arrow">
        </div>
      </div>
      <!-- Dropdown Custom -->
    </div>

    <div class="frm_col col_3">
      <label>รหัสไปรษณีย์
        <small class="red">*</small>
      </label>
      <input formControlName="postCode" type="text" value="" appNumberOnly="true" maxlength="5">
      <div *ngIf="address.get('postCode').hasError('required') &&  address.get('postCode').touched" class="alert-danger ">กรุณากรอกรหัสไปรษณีย์</div>
      <div *ngIf="address.get('postCode').invalid &&  address.get('postCode').touched &&  address.get('postCode').value.length > 0"
        class="alert-danger ">รหัสไปรษณีย์ไม่ถูกต้อง</div>
    </div>
  </div>
</div>
<ng-template #forEdit>

  <div [formGroup]="address">
    <div class="frm_col half">
      <label>บ้านเลขที่
        <small class="red" *ngIf="!isDisabled">*</small>
      </label>
      <input formControlName="no" type="text" value="" [readOnly]="isDisabled">
    </div>

    <div class="frm_col half-n-half">
      <label>หมู่ที่</label>
      <input formControlName="moo" type="text" value="" [readOnly]="isDisabled">
    </div>
    <div class="frm_col half-n-half">
      <label>ห้องที่</label>
      <input formControlName="roomNo" type="text" value="" [readOnly]="isDisabled">
    </div>

    <div class="frm_col half-n-half">
      <label>ตรอก</label>
      <input formControlName="road" type="text" value="" [readOnly]="isDisabled">
    </div>
    <div class="frm_col half-n-half">
      <label>ซอย</label>
      <input formControlName="soi" type="text" value="" [readOnly]="isDisabled">
    </div>

    <div class="frm_col half">
      <label>
        <i class="fa fa-spinner fa-spin fa-1x fa-fw" *ngIf="!provinces"></i>จังหวัด
        <small class="red" *ngIf="!isDisabled">*</small>
      </label>
      <!-- Dropdown Custom -->
      <div class="select">
        <select formControlName="provinceId">
          <option [ngValue]="null">จังหวัด</option>
          <option *ngFor="let province of provinces" [value]="province.id">{{province.nameTH}}</option>
        </select>
        <div class="select_arrow">
        </div>
      </div>
      <!-- Dropdown Custom -->
    </div>


    <div class="frm_col half">

      <label>
        <i class="fa fa-spinner fa-spin fa-1x fa-fw" *ngIf="!districts && address.get('provinceId').value"></i>เขต / อำเภอ

        <small class="red" *ngIf="!isDisabled">*</small>
      </label>
      <!-- Dropdown Custom -->
      <div class="select">

        <select formControlName="amphurId">
          <option [ngValue]="null">เขต / อำเภอ</option>
          <option *ngFor="let district of districts" [value]="district.id">{{district.nameTH}}</option>
        </select>

        <div class="select_arrow">
        </div>
      </div>
      <!-- Dropdown Custom -->
    </div>

    <div class="frm_col half">
      <label>
        <i class="fa fa-spinner fa-spin fa-1x fa-fw" *ngIf="!subdistricts && address.get('provinceId').value && address.get('amphurId').value"></i>แขวง / ตำบล
        <small class="red" *ngIf="!isDisabled">*</small>
      </label>
      <!-- Dropdown Custom -->
      <div class="select ">
        <select formControlName="tambonId">
          <option [ngValue]="null ">แขวง / ตำบล </option>
          <option *ngFor="let subdistrict of subdistricts" [value]="subdistrict.id">{{subdistrict.nameTH}}</option>
        </select>
        <div class="select_arrow ">
        </div>
      </div>
      <!-- Dropdown Custom -->
    </div>

    <div class="frm_col half ">
      <label>รหัสไปรษณีย์
        <small class="red" *ngIf="!isDisabled">*</small>
      </label>
      <input formControlName="postCode" type="text" value="" appNumberOnly="true" maxlength="5" [readOnly]="isDisabled">
      <div *ngIf="address.get( 'postCode').invalid && address.get( 'postCode').touched" class="alert-danger">รหัสไปรษณีย์ไม่ถูกต้อง</div>
    </div>

  </div>

</ng-template>
