<app-dialog title="แจ้งการทำงานของระบบ" #confirmDialog>
  <p>
    {{text}}
  </p>
  <br>
  <p class="text-center">
    <button class="btn btn-primary" (click)="ok()">ตกลง</button>
    <button class="btn btn-danger" (click)="cancel()">ยกเลิก</button>
  </p>
</app-dialog>

<app-dialog title="แจ้งการทำงานของระบบ" #infoDialog>
  <p>
    {{text}}
  </p>
  <br>
  <p class="text-center">
    <button class="btn btn-primary" (click)="ok()">ตกลง</button>
  </p>
</app-dialog>
