<div class="row">
  <div class="col-md-12">
    <table width="100%" border="0" class="download-form">
      <tr>
        <th>ชื่อไฟล์</th>
        <th>จำนวนดาวน์โหลด</th>
        <th>วันที่สร้างไฟล์</th>
        <th></th>
        <th *ngIf="deletable"></th>
      </tr>
      <tr *ngFor="let file of rows | async">
        <td class="padding-left-filename">
          <p class="pdf-file-name">{{file.title}}</p>
          <small>ขนาดไฟล์ {{+file.length?.value / 1024 | number : '1.0-0' }} KB</small>
        </td>
        <td align="center">
          <p class="black">{{+file.downloaded?.value}}</p>
        </td>
        <td align="center">
          <p class="black">{{file.createdDate | thaidate}}</p>
        </td>
        <td align="center">
          <a href="files/posts/{{file.postId}}/{{filterTitle(file.title)}}{{getExtension(file.fileName)}}" target="_blank">
            <img src="assets/corporate/img/download-form-word-icon.png" class="download-form-word-icon" *ngIf="getExtension(file.fileName) === '.doc' || getExtension(file.fileName) === '.docx'">
            <img src="assets/corporate/img/download-form-ppt-icon.png" class="download-form-word-icon" *ngIf="getExtension(file.fileName) === '.ppt' || getExtension(file.fileName) === '.pptx'">
            <img src="assets/corporate/img/download-form-pdf-icon.png" class="download-form-pdf-icon" *ngIf="getExtension(file.fileName) === '.pdf'">
          </a>
        </td>
        <td align="center" *ngIf="deletable">
          <a (click)="delete(file)">
            <i class="fa fa-lg fa-fw fa-trash"></i>
          </a>
        </td>
      </tr>
    </table>
    <pagination></pagination>
  </div>

</div>
<app-layout></app-layout>
