<div class="row profile-title">
  <h1>ข้อมูลผู้ใช้งาน</h1>
  <span>หน้าหลัก / ข้อมูลผู้ใช้งาน /
    <a href="">ข้อมูลส่วนตัว</a>
  </span>
</div>
<div class="main profile-personal">
  <div class="container">
    <div class="margin-bottom-40"></div>
    <div class="left-panel-profile" #menu>
      <a routerLink="profile" routerLinkActive="active">
        <img alt="ประเภทผู้ใช้งาน">
      </a>
      <a routerLink="changepassword" routerLinkActive="active">
        <img alt="เปลี่ยนรหัสผ่าน">
      </a>
      <a routerLink="pending" routerLinkActive="active">
        <img alt="รายการรอชำระ">
      </a>
      <a routerLink="history" routerLinkActive="active">
        <img alt="ประวัติการชำระ">
      </a>
      <a routerLink="favorites" routerLinkActive="active">
        <img alt="รายการโปรด">
      </a>
      <a routerLink="search" routerLinkActive="active">
        <img alt="ค้นหารายการ">
      </a>
      <a class="profile-logout" (click)="logout()" href="javascript:void(0);">
        <img alt="ออกจากระบบ">
      </a>

    </div>
    <div class="right-panel-profile">
      <router-outlet></router-outlet>
    </div>

  </div>
  <div class="margin-bottom-40">
    <br>
  </div>



</div>
