a[routerLink='profile'] img{
    content:url("/assets/corporate/img/profile_btn_01.png");
}
a[routerLink='profile'].active img,a[routerLink='profile']:hover img{
    content:url("/assets/corporate/img/profile_btn_01_white.png");
}

a[routerLink='changepassword'] img{
    content:url("/assets/corporate/img/profile_btn_02.png");
}
a[routerLink='changepassword'].active img,a[routerLink='changepassword']:hover img{
    content:url("/assets/corporate/img/profile_btn_02_white.png");
}

a[routerLink='pending'] img{
    content:url("/assets/corporate/img/profile_btn_03.png");
}
a[routerLink='pending'].active img,a[routerLink='pending']:hover img{
    content:url("/assets/corporate/img/profile_btn_03_white.png");
}

a[routerLink='history'] img{
    content:url("/assets/corporate/img/profile_btn_04.png");
}
a[routerLink='history'].active img,a[routerLink='history']:hover img{
    content:url("/assets/corporate/img/profile_btn_04_white.png");
}

a[routerLink='favorites'] img{
    content:url("/assets/corporate/img/profile_btn_05.png");
}
a[routerLink='favorites'].active img,a[routerLink='favorites']:hover img{
    content:url("/assets/corporate/img/profile_btn_05_white.png");
}

a[routerLink='search'] img{
    content:url("/assets/corporate/img/profile_btn_07.png");
}
a[routerLink='search'].active img,a[routerLink='search']:hover img{
    content:url("/assets/corporate/img/profile_btn_07_white.png");
}

a.profile-logout img{
    content:url("/assets/corporate/img/profile_btn_06.png");
}
a.profile-logout.active img,a.profile-logout:hover img{
    content:url("/assets/corporate/img/profile_btn_06_white.png");
}