<div class="row">
  <div class="col-md-12">
    <h3 class="title" style="display:inline-block;">Link</h3>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">

      <div style="margin:10px;">
        <div class="row">
          <div class="col-md-3">
            <div class="image-picker-item">

              <button *ngIf="!image" class="btn btn-block" (click)="addPicture()">
                <span class="glyphicon glyphicon-picture" style="font-size:50px;"></span>
              </button>

              <span *ngIf="image" class="closebtn" style="
                                          color: #333;    
                                          font-weight: bold;
                                          font-size: 20px;
                                          cursor: pointer;         
                                          background: rgba(209, 209, 209, 0.85);
                                          border-radius: 50%;
                                          height: 30px;
                                          width: 30px;
                                          display: grid;
                                          position: absolute;
                                          margin-left:-15px;
                                          margin-top:-15px;
                                          text-align: center;
                                          " (click)="image = undefined;">&times;</span>
              <div>
                <img class="img img-responsive" [attr.src]="image.data" *ngIf="image" />
              </div>
              <input type="file" style="display: none;" accept="image/*" #file (change)="fileBrowserChanged($event)">
            </div>
          </div>
          <div class="col-md-9">
            <form class="form-horizontal" [formGroup]="form" novalidate>
              <div class="form-group">
                <div class="col-sm-10">
                  <input class="form-control" type="url" formControlName="title" placeholder="URL">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10">
                  <input class="form-control" placeholder="คำอธิบาย" formControlName="content">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-primary" (click)="add()" [disabled]="!canAdd">เพิ่ม</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>




<!-- <div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" [class.active]="currentPostType == 'LinkOrg'">
          <a (click)="postType('LinkOrg')">Link หน่วยงาน
            <span class="badge">{{nbLinkOrg}}</span>
          </a>
        </li>
        <li role="presentation" [class.active]="currentPostType == 'Link'">
          <a (click)="postType('Link')">Link ที่น่าสนใจ
            <span class="badge">{{nbLink}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div> -->

<div class="row">
  <div class="col-md-12">
    <div class="list-group">
      <div class="list-group-item" *ngFor="let r of rows | async">
        <div class="row">
          <div class="col-md-4">


            <div class="image-picker-item">
              <span class="closebtn" style="
                                                            color: #333;    
                                                            font-weight: bold;
                                                            font-size: 20px;
                                                            cursor: pointer;         
                                                            background: rgba(209, 209, 209, 0.85);
                                                            border-radius: 50%;
                                                            height: 30px;
                                                            width: 30px;
                                                            display: grid;
                                                            position: absolute;
                                                            margin-left:-15px;
                                                            margin-top:-15px;
                                                            text-align: center;
                                                            " (click)="deletePost(r)">&times;</span>
              <div>
                <img [attr.src]="getThumbnail(r)" class="img img-responsive" style="height:120px;"> </div>
            </div>
          </div>


          <div class="col-md-8">
            <a href="{{r.title}}" target="_blank">
              <h4 class="list-group-item-heading">{{r.title}}</h4>
            </a>
            <p class="list-group-item-text">{{r.content}}</p>
          </div>
        </div>


      </div>
    </div>
    <pagination></pagination>
  </div>
</div>
