<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div id="user-profile-accordion" appAccordian>

    <h3>ประเภทผู้ใช้งาน</h3>
    <div>
      <h1>นิติบุคคล</h1>

      <div class="frm_col half">
        <label>เลขทะเบียนนิติบุคคล
          <small class="red">*</small>
        </label>
        <input type="text" formControlName="citizenId" [readOnly]="true">
      </div>

      <div class="frm_col half">
        <label>ชื่อนิติบุคคล (ภาษาไทย)
          <small class="red">*</small>
        </label>
        <input type="text" formControlName="fnameTH" [readOnly]="true">
      </div>

      <div class="frm_col half">
        <label>ชื่อนิติบุคคล (ภาษาอังกฤษ)
          <small class="red">*</small>
        </label>
        <input type="text" formControlName="fnameEN" [readOnly]="true">
      </div>
      <div class="frm_col half">
        <label>สถานะนิติบุคคล
          <small class="red">*</small>
        </label>
        <input type="text" value="{{companyStatus}}" [readOnly]="true">
      </div>



      <div class="clearfix"></div>

      <div class="frm_col half">
        <h4 class="floatleft-widthauto">ที่อยู่สถานประกอบการ&nbsp;&nbsp;&nbsp;</h4>
      </div>
      <div class="clearfix"></div>
      <app-input-address [isDisabled]="true" #workingAddress></app-input-address>
      <div class="clearfix"></div>

      <div class="frm_col half">
        <h4 class="floatleft-widthauto">ที่อยู่ในการจัดส่งเอกสาร&nbsp;&nbsp;&nbsp;</h4>
        <div class="floatleft-widthauto">
          <input (change)="copyAddress($event,editForm.get('workingAddress'),editForm.get('billingAddress'))" type="checkbox" name="sameaddress2"
            id="sameaddress2">
          <label for="sameaddress2">ที่อยู่เดียวกับสถานประกอบการ</label>
        </div>
      </div>

      <div class="clearfix"></div>

      <app-input-address #billingAddress></app-input-address>

    </div>

    <h3>ข้อมูลผู้มีอำนาจลงนาม</h3>
    <div class="no-border-bottom">
      <!-- <h4>ข้อมูลผู้มีอำนาจลงนาม</h4> -->

      <div class="frm_col half">
        <label>รหัสประจำตัวประชาชน
          <small class="red">*</small>
        </label>
        <input formControlName="company_auth_id" type="text" value="" maxlength="13" appNumberOnly="true">
        <div *ngIf="editForm.get('company_auth_id').hasError('personWrongFormat') && editForm.get('company_auth_id').touched" class="alert-danger ">
          {{editForm.get('company_auth_id').errors.personWrongFormat}}</div>
      </div>

      <div class="clearfix"></div>

      <div class="frm_col half">
        <label>คำนำหน้า (ภาษาไทย)
          <small class="red">*</small>
        </label>
        <!-- Dropdown Custom -->
        <div class="select">
          <select formControlName="company_auth_titleNameTH">
            <option *ngFor="let title of titles" [value]="title.id">{{title.desc}}</option>
          </select>
          <div class="select_arrow">
          </div>
        </div>
        <!-- Dropdown Custom -->
      </div>

      <div class="frm_col half">
        <label>ชื่อจริง (ภาษาไทย)
          <small class="red">*</small>
        </label>
        <input formControlName="company_auth_fnameTH" type="text" value="">
      </div>

      <div class="frm_col half">
        <label>ชื่อกลาง (ภาษาไทย)</label>
        <input formControlName="company_auth_mnamTH" type="text" value="">
      </div>

      <div class="frm_col half">
        <label>นามสกุล (ภาษาไทย)
          <small class="red">*</small>
        </label>
        <input formControlName="company_auth_lnameTH" type="text" value="">
      </div>

      <div class="frm_col half">
        <label>คำนำหน้า (ภาษาอังกฤษ)</label>
        <!-- Dropdown Custom -->
        <div class="select">
          <select formControlName="company_auth_titleNameEN">
            <option *ngFor="let title of titles" [value]="title.id">{{title.desc2}}</option>
          </select>
          <div class="select_arrow">
          </div>
        </div>
        <!-- Dropdown Custom -->
      </div>

      <div class="frm_col half">
        <label>ชื่อจริง (ภาษาอังกฤษ)</label>
        <input formControlName="company_auth_fnameEN" type="text" value="">
      </div>

      <div class="frm_col half">
        <label>ชื่อกลาง (ภาษาอังกฤษ)</label>
        <input formControlName="company_auth_mnameEN" type="text" value="">
      </div>

      <div class="frm_col half">
        <label>นามสกุล (ภาษาอังกฤษ)</label>
        <input formControlName="company_auth_lnameEN" type="text" value="">
      </div>

      <div class="frm_col half-n-half">
        <label>วันเกิด
          <small class="red">*</small>
        </label>
        <app-datepicker formControlName="company_auth_birth_date" placeholder="วว/ดด/ปปปป"></app-datepicker>
      </div>
      <div class="frm_col half-n-half">
        <label class="desktop-only">&nbsp;&nbsp;&nbsp;</label>
        <input formControlName="age" type="text" value="" class="text-right padding-right-30" id="user-age"> ปี
      </div>

      <div class="frm_col half-n-half">
        <label>อีเมล
          <small class="red">*</small>
        </label>
        <app-email-input formControlName="company_auth_email"></app-email-input>
        <div *ngIf="editForm.get('company_auth_email').hasError('pattern') && editForm.get('company_auth_email').touched  && editForm.get('company_auth_email').value.length > 0"
          class="alert-danger ">อีเมลไม่ถูกต้อง</div>
        <div *ngIf="editForm.get('company_auth_email').hasError('required') && editForm.get('company_auth_email').touched && editForm.get('company_auth_email').value.length === 0"
          class="alert-danger ">กรุณากรอกอีเมล์</div>
      </div>
      <div class="frm_col half-n-half">
        <label>เบอร์โทรศัพท์เคลื่อนที่
          <small class="red">*</small>
        </label>
        <input formControlName="company_auth_phone" type="text" value="" appNumberOnly="true" maxlength="10">
        <div *ngIf="editForm.get('company_auth_phone').hasError('required') && editForm.get('company_auth_phone').touched" class="alert-danger ">กรุณากรอกเบอร์โทร</div>
        <div *ngIf="editForm.get('company_auth_phone').invalid && editForm.get('company_auth_phone').touched && editForm.get('company_auth_phone').value.length > 0"
          class="alert-danger ">เบอร์โทรไม่ถูกต้อง</div>
      </div>


    </div>
    <!-- content 2 -->
  </div>
  <!-- accordion -->


  <div class="profile-form-footer">
    <h3 class="blue">
      <strong>การยืนยันตัวตน</strong>
    </h3>
    <div>
      <app-captcha formControlName="captcha"></app-captcha>
    </div>
  </div>

  <div class="frm_col text-center padding-top-35">
    <i class="fa fa-spinner fa-spin fa-1x" *ngIf="inProgress"></i>
    <input type="submit" value="บันทึก" class="btn-form btn-save" [disabled]="formInvalid()">
    <input type="reset" value="ล้างข้อมูล" class="btn-form btn-reset">
  </div>

</form>


<app-dialog [title]="titleMessage" #EditResultDialog>
  <p>
    {{message}}
  </p>
</app-dialog>
