/* You can add global styles to this file, and also import other style files */

@import url(assets/customfonts/stylesheet.css);
@import url(assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css);
@import url(~bootstrap/dist/css/bootstrap.min.css);
@import url(assets/corporate/dist/css/bootstrap-datepicker.css);
@import url(~bootstrap-select/dist/css/bootstrap-select.min.css);
@import url(~font-awesome/css/font-awesome.css);
@import url(~toastr/build/toastr.min.css);
@import url(assets/pages/css/animate.css);
/* 
@import url(assets/plugins/fancybox/source/jquery.fancybox.css);

 */

@import url(assets/plugins/owl.carousel/owl.carousel.css);
@import url(assets/pages/css/components.css);
@import url(assets/pages/css/slider.css);
@import url(assets/corporate/css/style.css);
@import url(assets/corporate/css/style-responsive.css);
@import url(assets/corporate/css/themes/red.css);
@import url(assets/corporate/css/custom.css);
@import url(assets/corporate/css/custom-icon.css);
@import url(assets/slick/slick.css);
@import url(assets/slick/slick-theme.css);
@import url(~jquery-ui-dist/jquery-ui.min.css);
@import url(assets/responsive-calendar/css/responsive-calendar.css);
input.btn-form:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

label[for='acceptcond'] a {
  color: #3e4d5c;
}

.frm_col .alert-danger {
  width: 90%;
}

input[type=text].ng-dirty.ng-touched.ng-invalid,
input[type=password].ng-dirty.ng-touched.ng-invalid,
input[type=number].ng-dirty.ng-touched.ng-invalid,
input[type=email].ng-dirty.ng-touched.ng-invalid,
app-email-input.ng-dirty.ng-touched.ng-invalid input[type=text] {
  background: #f2dede;
}

.modal-backdrop {
  z-index: 2000000 !important;
}

.frm_col input:read-only,
.frm_col input:disabled,
.frm_col select:disabled {
  opacity: 0.7 !important;
  border: 1px solid #cacaca !important;
}

a[data-toggle="modal"] {
  cursor: pointer !important;
}

input[type=file] {
  background: url('assets/corporate/img/file-bg.png') right center no-repeat !important;
  border: 1px solid #c0c0c0 !important;
  background-color: #fafafa !important;
  width: 100% !important;
}

@media (min-width: 767px) {
  .searchbill-panel app-captcha .half-n-half {
    width: 50% !important;
  }
}

app-file-input input[type=file] {
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
  margin-bottom: 0px !important;
}

app-file-input button.btn-filebrowser {
  background: url('assets/corporate/img/file-bg.png') right center no-repeat !important;
  border: 1px solid #c0c0c0 !important;
  background-color: hsl(0, 0%, 98%) !important;
  color: #333 !important;
  width: 100% !important;
  height: 40px;
  text-overflow: clip;
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 5px !important;
}

a {
  cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #1f3874;
  border-color: #1f3874;
}

button.btn {
  font-size: 1em !important;
}

.carousel-control.right,
.carousel-control.left {
  background: none !important;
}
