<div class="row pre-footer-link">

  <div class="slider responsive" id="link-menu" #linkMenu>
    <div>
      <a routerLink='public/download/forms' [queryParams]="{title: 'แบบฟอร์มที่ให้ดาวน์โหลดได้'}">
        <img src="assets/corporate/img/link_menu_01.png" alt="e-Forms ดาวน์โหลดแบบฟอร์ม">
      </a>
    </div>
    <div>
      <a routerLink='public/download/manual' [queryParams]="{title: 'ข้อมูลการให้บริการ/คู่มือ'}">
        <img src=" assets/corporate/img/link_menu_02.png " alt="ดาวน์โหลด คู่มือการใช้งาน ">
      </a>
    </div>
    <div>
      <a href=" ">
        <img src="assets/corporate/img/link_menu_03.png " alt="คำถามที่พบบ่อย ">
      </a>
    </div>
    <div>
      <a href=" ">
        <img src="assets/corporate/img/link_menu_04.png " alt="ถาม-ตอบ (Q&A) ">
      </a>
    </div>
    <div>
      <a data-toggle="modal " data-target="#Modal-select-bill ">
        <img src="assets/corporate/img/link_menu_05.png " alt="ใบเสร็จรับเงิน ">
      </a>
    </div>
  </div>

  <div class="slider responsive " id="partner-menu " #partnerMenu *ngIf="links ">
    <div *ngFor="let link of links | async ">
      <a [attr.href]="link.title " target="_blank " [attr.alt]="link.content ">
        <img [attr.src]="getThumbnail(link) " [attr.alt]="link.content ">
      </a>
    </div>
  </div>
</div>

<div class="modal fade " id="Modal-select-bill " tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel
        " aria-hidden="true ">
  <div class="modal-dialog " role="document ">
    <div class="modal-content ">
      <div class="modal-header ">
        <h5 class="modal-title " id="Modal-select-bill ">ใบเสร็จรับเงิน</h5>
        <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <br>
        <a [routerLink]="[ '/public/billing/search'] " data-dismiss="modal ">
          <img src="assets/corporate/img/select-bill-btn-1.png ">
        </a>
        <a [routerLink]="[ '/public/billing/validate'] " data-dismiss="modal ">
          <img src="assets/corporate/img/select-bill-btn-2.png ">
        </a>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
