<div class="header">
  <div class="container">
    <a class="site-logo" routerLink="/home">
      <img src="assets/corporate/img/logoload.png" alt="CGD e-Payment">
    </a>

    <a href="javascript:void(0);" class="mobi-toggler">
      <i class="fa fa-bars"></i>
    </a>




    <!-- BEGIN NAVIGATION -->
    <div class="header-navigation pull-right font-transform-inherit">
      <ul>
        <!-- ฺBefore login -->
        <li *ngIf="!profile">
          <a href="javascript:;" data-toggle="modal" data-target="#Modal-login" class="border-right-1">
            <div class="icon icon-user"></div>
            <p>เข้าสู่ระบบ</p>
          </a>
        </li>
        <li *ngIf="!profile">
          <a href="javascript:void(0)" data-toggle="modal" data-target="#Modal-register">
            <div class="icon icon-register"></div>
            <p>ลงทะเบียน</p>
          </a>
        </li>
        <!-- ฺBefore login -->
        <!-- After login-->
        <li *ngIf="profile" class="dropdown dropdown-megamenu dropdown-megamenu-profile">
          <a class="dropdown-toggle desktop-only border-right-1" data-toggle="dropdown" data-target="#" href="javascript:;">
            <div class="icon icon-user"></div> {{profile.titleNameTH}}{{profile.fnameTH}} {{profile.lnameTH}}
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </a>
          <a class="dropdown-toggle mobile-only" data-toggle="dropdown" data-target="#" href="javascript:;">
            <div class="icon icon-user"></div> {{profile.titleNameTH}}{{profile.fnameTH}} {{profile.lnameTH}}
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu" id="dropdown-megamenu-proflie">
            <li>
              <div class="header-navigation-content">
                <div class="row">
                  <div class="col-md-4 col-xs-6 header-navigation-col">
                    <ul>
                      <li>
                        <a routerLink="/member/profile">
                          <img src="assets/corporate/img/profile_btn_01.png" alt="ข้อมูลส่วนตัว">
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="assets/corporate/img/profile_btn_04.png" alt="ประวัติการชำระ">
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 col-xs-6 header-navigation-col">
                    <ul>
                      <li>
                        <a routerLink="/member/changepassword">
                          <img src="assets/corporate/img/profile_btn_02.png" alt="เปลี่ยนรหัสผ่าน">
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="assets/corporate/img/profile_btn_05.png" alt="รายการโปรด">
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4 header-navigation-col">
                    <ul>
                      <li>
                        <a href="#">
                          <img src="assets/corporate/img/profile_btn_03.png" alt="รายการรอชำระ">
                        </a>
                      </li>
                      <li>
                        <a (click)="logout()" href="javascript:void(0);">
                          <img src="assets/corporate/img/profile_btn_06.png" alt="ออกจากระบบ">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li *ngIf="profile">
          <a href="javascript:void(0)" style="position:relative;">
            <i class="pe-7s-bell"></i>
            <span class="label label-warning">10</span>
            <p>รายการรอชำระ</p>
          </a>
        </li>
        <!-- After login -->
        <li>
          <a class="font-adjust font-smaller">ก-</a>
          <a class="font-adjust font-larger">ก+</a>
        </li>
        <li>
          <div class="btn-group bootstrap-select fit-width">
            <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="EN">
              <span class="filter-option pull-left">
                <span class="flag-icon flag-icon-us">EN</span>
              </span>&nbsp;
              <span class="bs-caret">
                <span class="caret"></span>
              </span>
            </button>
            <div class="dropdown-menu open" role="combobox">
              <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                <li data-original-index="0" class="selected">
                  <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                    <span class="flag-icon flag-icon-us">EN</span>
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                  </a>
                </li>
                <li data-original-index="1">
                  <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                    <span class="flag-icon flag-icon-th">TH</span>
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                  </a>
                </li>
              </ul>
            </div>
            <select class="selectpicker" data-width="fit" tabindex="-98">
              <option data-content="<span class=&quot;flag-icon flag-icon-us&quot;>EN</span>">EN</option>
              <option data-content="<span class=&quot;flag-icon flag-icon-th&quot;>TH</span>">TH</option>
            </select>
          </div>
        </li>
        <!-- END TOP SEARCH -->
      </ul>
    </div>

    <!-- END NAVIGATION -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal-register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal-register">ลงทะเบียน</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <a routerLink="/public/register-citizen" data-dismiss="modal">
          <img src="assets/corporate/img/register-btn-1.png">
        </a>
        <a routerLink="/public/register-corporate" data-dismiss="modal">
          <img src="assets/corporate/img/register-btn-2.png">
        </a>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal-login">ประชาชน / ภาคธุรกิจ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>รหัสผู้ใช้งาน</span>
        <input type="text" placeholder="กรุณากรอกเลขประจำตัวประชาชน/เลขนิติบุคคล" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"
          appNumberOnly="true" maxlength="13">
        <span>รหัสผ่าน</span>
        <input type="password" placeholder="กรุณากรอกรหัสผ่าน" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="login()" [disabled]="isLoad || (!username || !password) || !canLogin()">
          <i class="fa fa-spinner fa-spin fa-1x" *ngIf="isLoad"></i>เข้าสู่ระบบ</button>
        <!-- <button type="button" class="btn btn-white" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-white" data-toggle="modal" id="btn-forgotpassword" data-target="#Modal-forgotpassword"
          data-dismiss="modal">ลืมรหัสผ่าน</button>
        <button type="button" data-toggle="modal" data-target="#Modal-register" class="btn btn-white pull-right btn-register" data-dismiss="modal">ลงทะเบียน</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal-register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal-register">ลงทะเบียน</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <a href="">
          <img src="assets/corporate/img/register-btn-1.png">
        </a>
        <a href="">
          <img src="assets/corporate/img/register-btn-2.png">
        </a>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>



<app-dialog title="เกิดข้อผิดพลาด" #loginResultDialog>
  <p *ngIf="loginResult == '1' || loginResult == '2'">
    ท่านยังไม่ได้ลงทะเบียนเพื่อใช้งานระบบ กรุณายืนยันตัวตนหรือลงทะเบียนเพื่อเข้าใช้งานก่อน
  </p>
  <p *ngIf="loginResult != '1' && loginResult != '2'">
    กรุณากรอกรหัสผ่านให้ถูกต้อง หากลืมรหัสผ่าน คลิก
    <a href=" home?action=forgotpassword">ลืมรหัสผ่าน</a>
  </p>
</app-dialog>


<!-- Modal -->
<div class="modal fade" id="Modal-forgotpassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel
   " aria-hidden="true" #modalForgotPassword>
  <div class="modal-dialog" role="document">
    <div class="modal-content" [formGroup]="forgetPassword">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal-forgotpassword">ลืมรหัสผ่าน</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>รหัสผู้ใช้งาน</span>
        <input formControlName="citizenId" type="text" placeholder="กรุณากรอกเลขประจำตัวประชาชน/เลขนิติบุคคล
   " appNumberOnly="true" maxlength="13">
        <div *ngIf="forgetPassword.get( 'citizenId').hasError( 'personWrongFormat') && forgetPassword.get( 'citizenId').touched
   " class="alert-danger">
          {{forgetPassword.get('citizenId').errors.personWrongFormat}}</div>
        <span>อีเมล</span>
        <app-email-input formControlName="email" type="text" placeholder="กรุณากรอกอีเมล"></app-email-input>
        <div *ngIf="forgetPassword.get( 'email').invalid && forgetPassword.get( 'email').touched" class="alert-danger">อีเมลไม่ถูกต้อง</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="forgetPassword.invalid" (click)="forgot()">ลืมรหัสผ่าน</button>
        <!-- <button type="button" class="btn btn-white" data-dismiss="modal">Close</button> -->
        <button type="reset" class="btn btn-white" (click)="clearForgotForm()">ล้างข้อมูล</button>
        <!-- <button type="button" class="btn btn-white pull-right">ลืมอีเมล</button> -->
      </div>
    </div>
  </div>
</div>

<app-dialog [title]="titleMessage" #EditResultDialog>
  <p>
    {{message}}
  </p>
</app-dialog>
