.responsive-calendar{
    padding: 10px;
    border: 1px solid #d1d3d4;
}
.responsive-calendar span{
    color: #a8a8a8;
    font-size: 20px;
}

.responsive-calendar hr {
    margin: 5px;
    width: 100%;
    /* margin-bottom: 5px; */
    border: 0;
    border-top: 0px solid #999999;
}
.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
}
.responsive-calendar .controls h4 {
  display: inline;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day {
     display: inline-block;
    position: relative;
    font-size: 20px;
    width: 14.28571428571429%;
    text-align: center;
    background-color: #fff;
    color: #a8a8a8;
    border: 0px solid #00a551;
}
.past{
    /* background-color: #ddd!important; */
    color: #a8a8a8;
}
.responsive-calendar .day a {
  color: #a8a8a8;
  display: block;
  cursor: pointer;
  padding: 10% 0 10% 0;
}
.responsive-calendar .day a:hover {
  background-color: #eee;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 0px gray solid;
  color: #a8a8a8;
}
.responsive-calendar .day.active a {
  color: #ffa837;
}
.responsive-calendar .day.active a:hover {
  background-color: #ffa837;
}
.responsive-calendar .day.active .not-current {
  background-color: #ffa837;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}
.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}

@media (max-width: 991px){
.responsive-calendar .day {
    font-size: 20px;
}
.responsive-calendar .btn-primary {
    font-size: 20px;
}

}
