<div class="pre-footer" appLayout>
  <div class="container">
    <div class="row">
      <!-- BEGIN BOTTOM ABOUT BLOCK -->
      <div class="col-md-4 col-sm-3 col-xs-12 pre-footer-col">
        <h2>กรมบัญชีกลาง</h2>
        <p>ถนนพระราม 6 แขวงสามเสนใน เขตพญาไท กรุงเทพฯ 10400</p>
        <p>Call Center : 0-2270-6400
          <br>หมายเลขโทรศัพท์ : 0-2127-7000</p>
      </div>
      <!-- END BOTTOM ABOUT BLOCK -->

      <!-- BEGIN BOTTOM CONTACTS -->
      <div class="col-md-4 col-sm-5 col-xs-12 pre-footer-col">
        <div class="col-md-6 col-sm-6">
          <h2>Site map</h2>
          <a routerLink="/home">หน้าหลัก</a>
          <a href="">เกี่ยวกับระบบชำระเงินของภาครัฐ</a>
          <a href="">ข้อมูลการให้บริการ</a>
          <a routerLink='public/download/agreement' [queryParams]="{title: 'กฏ ระเบียบ ข้อบังคับ'}">กฏ ระเบียบ ข้อบังคับ</a>
          <a href="">ข่าวประชาสัมพันธ์</a>

        </div>
        <div class="col-md-6 col-sm-6">
          <h3>&nbsp;</h3>
          <a href="">หน่วยงานที่เกี่ยวข้อง</a>
          <a href="">ติดต่อ เสนอแนะ</a>
          <a href="">e-Services</a>
          <a href="">ถาม-ตอบ</a>
          <a href="">ค้นหารายการ</a>
          <a href="">ลงทะเบียนออนไลน์</a>

        </div>
      </div>
      <!-- END BOTTOM CONTACTS -->

      <!-- BEGIN TWITTER BLOCK -->
      <div class="col-md-4 col-sm-4 col-xs-12 pre-footer-col">
        <div class="pre-footer-subscribe-box pre-footer-subscribe-box-vertical">
          <h2>สำหรับหน่วยงานภาครัฐ</h2>
          <p>
            <a href="{{externalAdminUrl}}" target="_blank">
              <img src="assets/corporate/img/login-footer.png">
            </a>
          </p>
          <form class="search-form">

            <input type="text" placeholder="ค้นหา ..." class="">
            <input type="submit" value="">
          </form>
        </div>

      </div>
      <!-- END TWITTER BLOCK -->
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <!-- BEGIN COPYRIGHT -->
      <div class="col-md-12 col-sm-12">
        © สงวนลิขสิทธิ์ โดยกรมบัญชีกลาง กระทรวงการคลัง พ.ศ. 2559 ตาม พ.ร.บ.ลิขสิทธิ์ พ.ศ. 2537
      </div>
      <!-- END COPYRIGHT -->
      <!-- BEGIN PAYMENTS
      <div class="col-md-4 col-sm-4">
        <ul class="social-footer list-unstyled list-inline pull-right">
          <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
          <li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="javascript:;"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
          <li><a href="javascript:;"><i class="fa fa-skype"></i></a></li>
          <li><a href="javascript:;"><i class="fa fa-github"></i></a></li>
          <li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
          <li><a href="javascript:;"><i class="fa fa-dropbox"></i></a></li>
        </ul>
      </div>
      <!-- END PAYMENTS -->

    </div>
  </div>
</div>
