<div class="row aboutus-title">
  <h1>{{title}}</h1>
  <span>หน้าหลัก /
    <a routerLink='public/download-form'>{{title}}</a>
  </span>
</div>


<div class="main">
  <div class="container aboutus-text">
    <div class="frm_col padding-top-50 margin-bottom-30">
      <h1 class="policy-pretext">{{title}}</h1>
      <div class="padding-right-30">
        <app-download-table [type]="type">

        </app-download-table>
      </div>
    </div>



  </div>
</div>
