<div class="row">
  <div class="col-md-12">
    <h3 class="title" style="display:inline-block;">{{title}}</h3>
    <button class="btn btn-primary" (click)="openAdd()" style="width:100px;margin-left:20px;margin-bottom: 10px;">เพิ่ม</button>

  </div>
</div>


<app-download-table [type]="type" deletable="true"></app-download-table>

<app-dialog title="เพิ่ม{{title}}" #addDialog>
  <div class="row" [formGroup]="form">

    <div class="frm_col col_12">
      <label>ชื่อไฟล์
        <small class="red">*</small>
      </label>
      <input formControlName="name" type="text">
    </div>
    <div class="clearfix"></div>
    <div class="frm_col col_12">
      <label>แนบไฟล์เอกสาร
        <small class="red">*</small>
      </label>
      <app-file-input formControlName="file" accept=".pdf, .docx, .doc, .xls, xlsx, .ppt, .pptx, .mp4, .mov" sizeExceedMessage="กรุณาแนบไฟล์ประเภทไฟล์ .pdf, .docx, .doc, .xls, xlsx, .ppt, .pptx, .mp4, .mov และไม่ขนาดไม่เกิน 2MB"
        maxMB="2"></app-file-input>
      <small>กรุณาแนบไฟล์ประเภทไฟล์ .pdf, .docx, .doc, .xls, xlsx, .ppt, .pptx, .mp4, .mov และไม่ขนาดไม่เกิน 2MB</small>
    </div>
    <div class="frm_col text-center padding-top-35">
      <input (click)="onSubmit()" type="submit" value="เพิ่ม" class="btn-form btn-register-white" [disabled]="!form.valid">

    </div>

  </div>
</app-dialog>


<app-layout></app-layout>
