<app-profile-citizen [citizenId]="decoded.sub" *ngIf="decoded.typ == '1'"></app-profile-citizen>
<app-profile-corporate [corporateId]="decoded.sub" *ngIf="decoded.typ != '1'"></app-profile-corporate>
<!-- <app-input-address #billingAddress></app-input-address>
<div class="clearfix"></div>
<app-input-address #billingAddress2></app-input-address> -->
