/* ============================================ *
 * checked box custom
 * ============================================ */

[type="radio"]:checked,
[type="radio"]:not(:checked),
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label,
[type="checkbox"]:checked+label,
[type="checkbox"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  margin-left: 0;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before,
[type="checkbox"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after,
[type="checkbox"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #757575;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after,
[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after,
[type="checkbox"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

[type="checkbox"]:checked+label:after,
[type="checkbox"]:not(:checked)+label:after {
  border-radius: 0;
  font-family: 'FontAwesome';
  content: "\f00c";
  background: none;
  color: #1f3874;
  line-height: 13px;
}

[type="checkbox"]:checked+label:before,
[type="checkbox"]:not(:checked)+label:before {
  border-radius: 0;
}

.full-width {
  width: 100% !important;
}

.row.inner {
  margin-right: 0;
  margin-left: 0;
}

.floatleft-widthauto {
  float: left;
  width: auto;
}

.modal {
  z-index: 9999999 !important;
  top: 20%;
}

#Modal-login .modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #fff;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  background-color: #1f3874;
}

.modal.modal-default .modal-header {
  margin: 0;
  line-height: 1.42857143;
  color: #fff;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  background-color: #ffa837;
  padding: 10px !important;
}

#Modal-register .modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #1f3874;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

#Modal-login .modal-header {
  min-height: 16.43px;
  padding: 0;
  border-bottom: 0 solid #e5e5e5;
  padding: 8px;
  background-color: #1f3874;
}

#Modal-register .modal-header {
  min-height: 16.43px;
  padding: 0;
  border-bottom: 0 solid #e5e5e5;
  padding: 0;
}

#Modal-login .modal-header .close {
  margin-top: -29px;
  background-color: #1f3874;
  padding: 6px 11px;
  opacity: 1;
  color: #fff;
  font-weight: normal;
}

#Modal-register .modal-header .close {
  margin-top: -31px;
  background-color: #1f3874;
  padding: 6px 11px;
  opacity: 1;
  color: #fff;
  font-weight: normal;
}

#Modal-login .modal-dialog {
  width: 549px;
}

#Modal-register .modal-dialog {
  width: 549px;
  text-align: center;
}

#Modal-login input[type="text"],
#Modal-login input[type="password"] {
  width: 79%;
  margin-left: 10px;
  margin-bottom: 15px;
}

#Modal-login .modal-body span {
  width: 72px;
  float: left;
  margin-bottom: 15px;
}

#Modal-login .modal-footer {
  padding: 0px 15px 15px 15px;
  padding-left: 98px;
  text-align: left;
  border-top: 0px solid #e5e5e5;
}

#Modal-forgotpassword .modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #fff;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  background-color: #1f3874;
}

#Modal-forgotpassword .modal-header {
  min-height: 16.43px;
  padding: 0;
  border-bottom: 0 solid #e5e5e5;
  padding: 8px;
  background-color: #1f3874;
}

#Modal-forgotpassword .modal-header .close {
  margin-top: -29px;
  background-color: #1f3874;
  padding: 6px 11px;
  opacity: 1;
  color: #fff;
  font-weight: normal;
}

#Modal-forgotpassword .modal-dialog {
  width: 549px;
}

#Modal-forgotpassword input[type="text"] {
  width: 79%;
  margin-left: 10px;
  margin-bottom: 15px;
}

#Modal-forgotpassword .modal-body span {
  width: 72px;
  float: left;
  margin-bottom: 15px;
}

#Modal-forgotpassword .modal-footer {
  padding: 0px 15px 15px 15px;
  padding-left: 98px;
  text-align: left;
  border-top: 0px solid #e5e5e5;
}

#Modal-otp-register .modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #1f3874;
  font-size: 36px;
  font-weight: bold;
  padding-top: 20px;
  text-align: left;
  padding-left: 40px;
  /* background: url('../img/triangle-1-s.png') left bottom no-repeat; */
  padding-bottom: 10px;
  background-position-y: 100%;
  background-position-x: 40px;
}

#Modal-otp-register .modal-header {
  min-height: 16.43px;
  padding: 0;
  border-bottom: 0 solid #e5e5e5;
  padding: 0;
}

#Modal-otp-register .modal-header .close {
  margin-top: -78px;
  background-color: #fff;
  padding: 6px 11px;
  opacity: 1;
  color: #1f3874;
  font-weight: normal;
}

#Modal-otp-register .modal-dialog {
  width: 670px;
  text-align: left;
}

#Modal-otp-register .modal-body {
  padding: 40px;
  padding-top: 10px;
}

#Modal-otp-register .modal-footer {
  border-top: 0px solid #e5e5e5;
  padding-top: 0;
}

#Modal-otp-register input[type=password] {
  height: 40px;
  font-family: "Thai Sans Neue Regular", 'Open Sans', Arial, sans-serif;
  padding-left: 5px;
  border: 1px solid #c0c0c0;
  padding-left: 20px;
  background-color: #fafafa;
}

#Modal-select-bill .modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #1f3874;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

#Modal-select-bill .modal-header {
  min-height: 16.43px;
  padding: 0;
  border-bottom: 0 solid #e5e5e5;
  padding: 0;
}

#Modal-select-bill .modal-header .close {
  margin-top: -31px;
  background-color: #1f3874;
  padding: 6px 11px;
  opacity: 1;
  color: #fff;
  font-weight: normal;
}

#Modal-select-bill .modal-dialog {
  width: 549px;
  text-align: center;
}

.modal .btn {
  font-size: 20px;
  padding: 5px 20px;
}

.btn-white {
  background-color: #fff;
  text-decoration: underline;
}

.modal .btn-register {
  text-decoration: none;
  padding-left: 30px;
  background: url('../img/register-btn.png') left center no-repeat;
}

@media (max-width: 767px) {
  .modal {
    top: 10%;
  }
  .modal .btn {
    padding: 5px 15px;
  }
  #Modal-login .modal-dialog {
    width: 94%;
  }
  #Modal-login input[type="text"] {
    width: 100%;
    margin-left: 0;
  }
  #Modal-login .modal-footer {
    padding-left: 16px;
  }
  #Modal-forgotpassword .modal-dialog {
    width: 94%;
  }
  #Modal-forgotpassword input[type="text"] {
    width: 100%;
    margin-left: 0;
  }
  #Modal-forgotpassword .modal-footer {
    padding-left: 16px;
  }
  #Modal-register .modal-dialog {
    width: 94%;
  }
  #Modal-register .modal-body a img {
    width: 46%;
  }
  .modal .btn-register {
    padding-left: 30px !important;
  }
  #Modal-otp-register .modal-dialog {
    width: 95%;
    text-align: left;
  }
  #Modal-select-bill .modal-dialog {
    width: 94%;
  }
}

#fav-menu {
  position: absolute;
  margin-top: -300px;
  background: rgba(42, 66, 111, 0.8);
}

.slick-prev {
  left: 5%;
  background: url('../img/prev.png') center no-repeat !important;
}

.slick-next {
  right: 5%;
  background: url('../img/next.png') center no-repeat !important;
}

.slick-prev:before,
.slick-next:before {
  content: '' !important;
}

#user-profile-accordion {
  /* min-height: 650px; */
}

#user-profile-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: 0;
  font-size: 26px;
  font-family: "Thai Sans Neue Regular", 'Open Sans', Arial, sans-serif;
  background: none;
  color: #1f3874;
  border: 0;
  font-weight: 600;
}

#user-profile-accordion h3.no-accordion {
  font-size: 36px;
  color: #1f3874;
  font-weight: bold;
  background: url('../img/triangle-1-s.png') left bottom no-repeat;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-position-y: 100%;
}

#user-profile-accordion .ui-icon-triangle-1-e {
  background: url('../img/triangle-1-e.png') left center no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#user-profile-accordion .ui-icon-triangle-1-s {
  background: url('../img/triangle-1-s.png') left center no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#user-profile-accordion .ui-accordion-content {
  font-family: "Thai Sans Neue Regular", 'Open Sans', Arial, sans-serif;
  border: 0;
  color: #797979;
  font-size: 22px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

#user-profile-accordion .ui-accordion-content:nth-child(3) {
  border-bottom: 0 solid #ccc;
}

#user-profile-accordion .ui-accordion-content h1 {
  border: 0;
  color: #575757;
  font-size: 32px;
  font-weight: 700;
  border-bottom: 1px solid #a6a6a6;
  margin-bottom: 25px;
}

#user-profile-accordion .ui-accordion-content h4 {
  color: #faa739;
  font-size: 22px;
  margin-bottom: 20px;
}

.full-panel-register {
  width: 100%;
  padding: 35px;
  padding-left: 60px;
  border: 1px solid #a6a6a6;
  background-color: #fff;
  float: left;
}

@media (max-width: 767px) {
  .left-panel-profile {
    width: 100%;
  }
  .full-panel-register {
    padding: 20px;
    padding-left: 20px;
  }
  .left-panel-profile a {
    float: unset;
    width: 100%;
    height: 105px;
  }
  .ssslide img {
    margin: auto !important;
  }
  .right-panel-profile {
    width: 100%;
    padding: 20px;
  }
  .sssnext,
  .sssprev {
    /* background: url('../img/arr.png') no-repeat!important; */
  }
  .sssprev {
    left: 3%;
    background-position: 0 45% !important;
  }
  .sssnext {
    right: 3%;
    background-position: -26px 45% !important;
  }
}

.frm_col {
  float: left;
  width: 100%;
  font-weight: normal !important;
}

.half {
  width: 50%;
}

.col_3 {
  width: 33%;
}

.col_8 {
  width: 63%;
}

.col_67pwcol3 {
  width: 67%;
}

.half-n-half {
  width: 25%;
}

.frm_col label {
  font-weight: normal !important;
  width: 100%;
  font-size: 22px;
}

.frm_col input {
  width: 90%;
  height: 40px;
  margin-bottom: 20px;
}

.frm_col input[type=text],
.frm_col input[type=password] {
  width: 90%;
  height: 40px;
  font-family: "Thai Sans Neue Regular", 'Open Sans', Arial, sans-serif;
  padding-left: 5px;
  border: 1px solid #c0c0c0;
  padding-left: 20px;
  background-color: #fafafa;
}

#bdatepicker,
#from-datepicker,
#to-datepicker {
  padding-left: 40px;
  background: #fafafa url('../img/calendar-icon-1.png') left center no-repeat;
  background-position-x: 9px;
}

.half-n-half input[type=text] {
  width: 82%;
  padding-left: 20px;
}

#user-age {
  width: 72%;
}

.frm_col .select {
  width: 90%;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.frm_col .select.fullwidth {
  width: 95%
}

.frm_col .select select {
  font-family: "Thai Sans Neue Regular", 'Open Sans', Arial, sans-serif;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 5px 5px;
  outline: 0;
  border: 1px solid #c0c0c0;
  border-radius: 0px;
  background: #fff;
  color: #797979;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* background: url('../img/select-r-border.png') right center no-repeat; */
  background-position-x: 90%;
  height: 40px;
  padding-left: 20px;
  background-color: #fafafa;
}

.frm_col.col_3 .select select {
  background-position-x: 85%;
}

.frm_col.half-n-half .select select {
  background-position-x: 85%;
}

.frm_col .select.fullwidth select {
  background-position-x: 93%;
}

@media (max-width: 992px) {
  .frm_col .select.fullwidth {
    width: 100%
  }
  .frm_col .select select {
    background-position-x: 85%;
  }
  .frm_col .select.fullwidth select {
    background-position-x: 86%;
  }
}

.frm_col .select select:disabled.simple-control::-ms-expand {
  display: none;
}

.frm_col .select select::-ms-expand {
  display: none;
}

.frm_col .select select:hover,
.frm_col .select select:focus {
  color: #000000;
}

.frm_col .select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.frm_col .select_arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  border: solid #1f3874;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.frm_col .select select:hover~.select_arrow,
.frm_col .select select:focus~.select_arrow {
  border-top-color: #262626;
}

.frm_col .select select:disabled~.select_arrow {
  border-top-color: #CCCCCC;
}

/* IE9 */

@media screen and (min-width:0) and (min-resolution:.001dpcm) {
  .frm_col .select_arrow {
    /* display: none; */
  }
}

/* IE9 */

.bg-ebebeb {
  background-color: #ebebeb;
}

.bg-ffa837 {
  background-color: #ffa837 !important;
}

.profile-form-footer {
  background-color: #ebebeb;
  margin: 20px 0 0 -40px;
  padding: 25px 40px;
  width: calc(100% + 80px);
  float: left;
}

.register-form-footer {
  background-color: #ebebeb;
  margin: 20px 0 0 -40px;
  padding: 25px 60px;
  width: calc(100% + 95px);
  float: left;
  margin-left: -60px;
}

@media (max-width: 767px) {
  .profile-form-footer {
    margin: 20px 0 0 -20px;
    padding: 25px 20px;
    width: calc(100% + 40px);
  }
  .register-form-footer {
    background-color: #ebebeb;
    margin: 20px 0 0 -40px;
    padding: 25px 20px;
    width: calc(100% + 40px);
    float: left;
    margin-left: -20px;
  }
}

.eform-form-footer {
  background-color: #ebebeb;
  margin: 20px 0 0 -35px;
  padding: 25px 40px;
  width: calc(100% + 70px);
  float: left;
}

@media (max-width: 767px) {
  .eform-form-footer {
    margin: 20px 0 0 -30px;
    padding: 25px 20px;
    width: calc(100% + 60px);
  }
}

.btn-form {
  border: 0;
  font-size: 30px;
  color: #fff;
  padding: 10px 70px 15px 100px;
  width: 225px !important;
  height: 56px !important;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(7, 7, 7, 0.15);
  -moz-box-shadow: 0px 0px 10px 3px rgba(7, 7, 7, 0.15);
  box-shadow: 0px 0px 10px 3px rgba(7, 7, 7, 0.15);
  margin: 0 20px;
}

.btn-form:hover {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(7, 7, 7, 0.2);
  -moz-box-shadow: 5px 5px 0px 0px rgba(7, 7, 7, 0.2);
  box-shadow: 5px 5px 0px 0px rgba(7, 7, 7, 0.2);
  transition: box-shadow 0.1s ease-in-out;
}

.btn-narmal-orange {
  background: #ffa837;
  padding: 10px 70px 15px 55px;
}

.btn-narmal-gray {
  background: #b2b2b2;
  padding: 10px 70px 15px 55px;
}

.btn-cart-next {
  background: #ffa837;
  padding: 10px 70px 15px 55px;
}

.btn-cart-next.full-width {
  padding: 0;
  width: 100% !important;
  margin: 0;
}

.btn-cart-back {
  background: #b2b2b2;
  padding: 10px 70px 15px 55px;
}

.btn-save {
  background: #ffa837 url('../img/btn-form-save.png') left center no-repeat;
  background-position-x: 33%;
}

.btn-reset {
  background: #b2b2b2 url('../img/btn-form-reset.png') left center no-repeat;
  background-position-x: 25%;
}

.btn-send {
  background: #ffa837 url('../img/btn-form-send.png') left center no-repeat;
  background-position-x: 23%;
}

.btn-cancel {
  background: #b2b2b2 url('../img/btn-form-cancel.png') left center no-repeat;
  background-position-x: 32%;
}

.btn-back {
  background: #ffa837 url('../img/btn-form-back.png') left center no-repeat;
  background-position-x: 25%;
}

.btn-register-white {
  background: #ffa837 url('../img/btn-register-white.png') left center no-repeat;
  background-position-x: 25%;
}

.btn-print {
  /* background: url('../img/btn-print-btn-2.png') left center no-repeat; */
  color: #4a5c89;
}

.btn-print-1 {
  /* background: url('../img/btn-print-btn-2.png') left center no-repeat; */
  color: #4a5c89;
  margin-right: 0;
  padding: 5px 20px 5px 50px;
  width: 137px !important;
  height: 40px !important;
  box-shadow: none;
  border: 1px solid #d9d9d9;
  background-position-x: 50%;
  background-size: cover;
  font-size: 22px;
}

.btn-print.text-long {
  padding: 10px 70px 15px 89px;
  background-repeat: repeat-x;
  background-position-x: -23px;
}

.btn-print-2 {
  /* background: #ffa837 url('../img/btn-print-btn-w.png') left center no-repeat; */
  color: #fff;
  background-position-x: 30%;
}

.btn-reotp {
  /* background: #b2b2b2 url('../img/btn-form-reset.png') left center no-repeat; */
  background-position-x: 15%;
  padding-left: 68px;
}

.btn-done-white {
  /* background: #ffa837 url('../img/btn-check-white.png') left center no-repeat; */
  background-position-x: 15%;
  padding-left: 68px;
}

.btn-reset-2 {
  background: #b2b2b2 url('../img/btn-form-reset.png') left center no-repeat;
  background-size: 19%;
  background-position-x: 15%;
  padding: 5px 20px 5px 40px;
  width: auto !important;
  height: 40px !important;
  font-size: 22px;
}

.btn-checkout {
  /* background: #223a74 url('../img/checkout-btn.png') left center no-repeat; */
  background-position-x: 27%;
  padding-left: 98px;
}

.btn-search {
  background: #ffa837 url('../img/search-btn.png') left center no-repeat;
  background-position-x: 27%;
  padding-left: 98px;
}

.btn-search-2 {
  background: #ffa837 url('../img/serach-btn-2.png') left center no-repeat;
  background-position-x: 15%;
  padding: 5px 20px 5px 40px;
  width: auto !important;
  height: 40px !important;
  font-size: 22px;
}

.btn-search-3 {
  /* background: #ffa837 url('../img/serach-btn-2.png') left center no-repeat; */
  background-position-x: 22%;
  padding: 5px 20px 5px 52px;
  width: auto !important;
  height: 40px !important;
  font-size: 22px;
}

.btn-form:hover {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(7, 7, 7, 0.2);
  -moz-box-shadow: 5px 5px 0px 0px rgba(7, 7, 7, 0.2);
  box-shadow: 5px 5px 0px 0px rgba(7, 7, 7, 0.2);
  transition: box-shadow 0.1s ease-in-out;
}

@media (max-width: 992px) {
  .aboutus-text .half {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .half {
    width: 100%;
  }
  .col_3 {
    width: 100%;
  }
  .col_8 {
    width: 100%;
  }
  .col_67pwcol3 {
    width: 100%;
  }
  .half-n-half {
    width: 100%;
  }
  .frm_col input {
    width: 100%;
  }
  .frm_col input[type=text] {
    width: 100%;
  }
  .half-n-half input[type=text] {
    width: 100%;
  }
  #user-age {
    width: 90%;
  }
  .frm_col .select {
    width: 100%;
  }
  .btn-form {
    margin: 0;
  }
}

#faqs-accordion .ui-accordion-header {
  border: 1px solid #e6e6e6;
  background-color: #fff;
  padding-left: 52px !important;
  /* background: url('../img/qaicon.png') left center no-repeat; */
  background-position-x: 17px;
  background-position-y: 15px;
  color: #262626;
  font-family: "Thai Sans Neue Regular", 'Open Sans', Arial, sans-serif;
  text-align: left;
}

#faqs-accordion .ui-state-hover,
#faqs-accordion .ui-accordion-header-active {
  /* background: #fff url('../img/qaicon-active.png') left center no-repeat; */
  background-position-x: 17px;
  background-position-y: 15px;
  border: 1px solid #e6e6e6 !important;
  border-bottom: 1px solid #fff !important;
  padding-left: 52px !important;
  -webkit-transition: background .2s linear;
  -moz-transition: background .2s linear;
  -o-transition: background .2s linear;
  -ms-transition: background .2s linear;
  transition: background .2s linear;
}

#faqs-accordion .ui-state-hover {
  border-bottom: 1px solid #e6e6e6 !important;
}

#faqs-accordion .ui-accordion-header-active.ui-state-hover {
  border-bottom: 1px solid #fff !important;
}

#faqs-accordion .ui-state-hover .faq-text-header {
  color: #fff;
}

#faqs-accordion .ui-accordion-header-active .faq-text-header {
  color: #fff;
}

#faqs-accordion .ui-accordion-header-active .ui-icon-triangle-1-s {
  visibility: hidden;
  display: none;
}

#faqs-accordion .ui-accordion-content-active {
  background: #fff;
  border-top: 1px solid #fff !important;
}

#faqs-accordion .ui-accordion-content {
  border: 1px solid #e6e6e6;
  border-top: 1px solid #fff !important;
  font-family: "Thai Sans Neue Regular", 'Open Sans', Arial, sans-serif;
  text-align: left;
  padding: 0px 52px 10px 52px;
  line-height: 20px;
}

#faqs-accordion .ui-accordion-header .faq-text-header {
  float: left;
  width: auto;
}

#faqs-accordion .ui-accordion-header .ui-icon-triangle-1-e {
  background: none;
  display: none;
}

.lastest-qa {
  float: left;
  width: 100%;
  height: auto;
  padding: 5px 15px 5px 22px;
  color: #262626;
  font-size: 20px;
  /* background: url('../img/qa-arrow-left.png') left center no-repeat; */
  background-position-y: 15px;
  border-bottom: 1px solid #e6e6e6;
}

.lastest-qa:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  #faqs-accordion .ui-accordion-header {
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding-left: 52px !important;
    /* background: url('../img/qaicon.png') left center no-repeat; */
    background-position-x: 17px;
    background-position-y: 15px;
    padding: 5px 5px 5px 52px !important;
    height: auto;
    color: #262626;
  }
  #faqs-accordion .ui-state-hover,
  #faqs-accordion .ui-accordion-header-active {
    /* background: #fff url('../img/qaicon-active.png') left center no-repeat; */
    background-position-x: 17px;
    background-position-y: 15px;
    border: 1px solid #e6e6e6 !important;
    padding-left: 52px !important;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -o-transition: background .2s linear;
    -ms-transition: background .2s linear;
    transition: background .2s linear;
  }
  #faqs-accordion .ui-state-hover {
    border-bottom: 1px solid #e6e6e6 !important;
  }
  #faqs-accordion .ui-accordion-header-active,
  #faqs-accordion .ui-accordion-header-active.ui-state-hover {
    border-bottom: 1px solid #fff !important;
  }
  #faqs-accordion .ui-accordion-header .ui-icon-triangle-1-e {
    background: none;
    display: none;
  }
  #faqs-accordion .ui-accordion-header-active .ui-icon-triangle-1-s {
    display: none;
  }
}

.ant-pagination {
  font-size: 20px;
  display: inline-block;
  padding-left: 0;
  margin: auto;
}

.ant-pagination:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden
}

.ant-pagination-item,
.ant-pagination-total-text {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 15px;
  line-height: 28px;
  margin-right: 8px
}

.ant-pagination-item {
  cursor: pointer;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 28px;
  text-align: center;
  list-style: none;
  border: 1px solid #a8a8a8;
  background-color: #fff;
  outline: 0
}

.ant-pagination-item a {
  text-decoration: none;
  color: #404040;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  margin: 0 6px;
  padding: 5px 10px;
}

.ant-pagination-item:focus,
.ant-pagination-item:hover {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-color: #f57224;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(38, 38, 38, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(38, 38, 38, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(38, 38, 38, 0.3);
}

.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
  color: #f57224
}

.ant-pagination-item-active {
  background-color: #ffa837;
  border-color: #ffa837;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(38, 38, 38, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(38, 38, 38, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(38, 38, 38, 0.3);
}

.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover {
  background-color: #ffa837;
  border-color: #ffa837;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(38, 38, 38, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(38, 38, 38, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(38, 38, 38, 0.3);
}

.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a,
.ant-pagination-item-active a {
  color: #fff
}

.ant-pagination-jump-next,
.ant-pagination-jump-prev {
  outline: 0
}

.ant-pagination-jump-next:after,
.ant-pagination-jump-prev:after {
  content: "\2022\2022\2022";
  display: block;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, .25);
  text-align: center
}

.ant-pagination-jump-next:focus:after,
.ant-pagination-jump-next:hover:after,
.ant-pagination-jump-prev:focus:after,
.ant-pagination-jump-prev:hover:after {
  color: #f57224;
  display: inline-block;
  font-size: 20px;
  font-size: 20px\9;
  -webkit-transform: scale(.66666667) rotate(0deg);
  -ms-transform: scale(.66666667) rotate(0deg);
  transform: scale(.66666667) rotate(0deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
  zoom: 1;
  letter-spacing: -1px;
  font-family: anticon
}

:root .ant-pagination-jump-next:focus:after,
:root .ant-pagination-jump-next:hover:after,
:root .ant-pagination-jump-prev:focus:after,
:root .ant-pagination-jump-prev:hover:after {
  -webkit-filter: none;
  filter: none;
  font-size: 20px;
}

.ant-pagination-jump-prev:focus:after,
.ant-pagination-jump-prev:hover:after {
  /* content:"\E620\E620" */
}

.ant-pagination-jump-next:focus:after,
.ant-pagination-jump-next:hover:after {
  /* content:"\E61F\E61F" */
}

.ant-pagination-jump-next,
.ant-pagination-jump-prev,
.ant-pagination-prev {
  margin-right: 8px
}

.ant-pagination-jump-next,
.ant-pagination-jump-prev,
.ant-pagination-next,
.ant-pagination-prev {
  cursor: pointer;
  color: #404040;
  border-radius: 2px;
  list-style: none;
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  display: inline-block;
  vertical-align: middle
}

.ant-pagination-next,
.ant-pagination-prev {
  outline: 0
}

.ant-pagination-next a,
.ant-pagination-prev a {
  color: #404040;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.ant-pagination-next:hover a,
.ant-pagination-prev:hover a {
  color: #f57224
}

.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-prev .ant-pagination-item-link {
  border: 1px solid #a8a8a8;
  background-color: #fff;
  border-radius: 2px;
  outline: none;
  padding: 7px 15px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}

.ant-pagination-next .ant-pagination-item-link:after,
.ant-pagination-prev .ant-pagination-item-link:after {
  display: inline-block;
  -webkit-transform: scale(.66666667) rotate(0deg);
  -ms-transform: scale(.66666667) rotate(0deg);
  transform: scale(.66666667) rotate(0deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
  zoom: 1;
  display: block;
  height: 26px;
  line-height: 26px;
  font-family: anticon;
  text-align: center;
  font-weight: 500
}

:root .ant-pagination-next .ant-pagination-item-link:after,
:root .ant-pagination-prev .ant-pagination-item-link:after {
  -webkit-filter: none;
  filter: none;
  font-size: 13px
}

.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link,
.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link {
  border-color: #f57224;
  color: #f57224
}

.ant-pagination-prev .ant-pagination-item-link:after {
  /* content:"\E620"; */
  display: block
}

.ant-pagination-next .ant-pagination-item-link:after {
  /* content:"\E61F"; */
  display: block
}

.ant-pagination-disabled,
.ant-pagination-disabled:focus,
.ant-pagination-disabled:hover {
  cursor: not-allowed
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link,
.ant-pagination-disabled:focus a,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:hover a,
.ant-pagination-disabled a {
  border-color: #a8a8a8;
  color: rgba(0, 0, 0, .25);
  cursor: not-allowed
}

.ant-pagination-slash {
  margin: 0 10px 0 5px
}

.ant-pagination-options {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px
}

.ant-pagination-options-size-changer {
  display: inline-block;
  margin-right: 8px
}

.ant-pagination-options-quick-jumper {
  display: inline-block;
  height: 28px;
  line-height: 28px
}

.ant-pagination-options-quick-jumper input {
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  width: 100%;
  height: 28px;
  font-size: 13px;
  line-height: 1.5;
  color: #404040;
  background-color: #fff;
  background-image: none;
  border: 1px solid #a8a8a8;
  border-radius: 2px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  margin: 0 8px;
  width: 50px
}

.ant-pagination-options-quick-jumper input::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1
}

.ant-pagination-options-quick-jumper input:-ms-input-placeholder {
  color: #bfbfbf
}

.ant-pagination-options-quick-jumper input::-webkit-input-placeholder {
  color: #bfbfbf
}

.ant-pagination-options-quick-jumper input:hover {
  border-color: #848484
}

.ant-pagination-options-quick-jumper input:focus {
  border-color: #848484;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(93, 93, 93, .2);
  box-shadow: 0 0 0 2px rgba(93, 93, 93, .2)
}

.ant-pagination-options-quick-jumper input-disabled {
  background-color: #f7f7f7;
  opacity: 1;
  cursor: not-allowed;
  color: rgba(0, 0, 0, .25)
}

.ant-pagination-options-quick-jumper input-disabled:hover {
  border-color: #bdbdbd
}

textarea.ant-pagination-options-quick-jumper input {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -webkit-transition: all .3s, height 0s;
  -o-transition: all .3s, height 0s;
  transition: all .3s, height 0s
}

.ant-pagination-options-quick-jumper input-lg {
  padding: 6px 7px;
  height: 32px
}

.ant-pagination-options-quick-jumper input-sm {
  padding: 1px 7px;
  height: 22px
}

.ant-pagination-simple .ant-pagination-next,
.ant-pagination-simple .ant-pagination-prev {
  height: 24px;
  line-height: 24px;
  vertical-align: top
}

.ant-pagination-simple .ant-pagination-next .ant-pagination-item-link,
.ant-pagination-simple .ant-pagination-prev .ant-pagination-item-link {
  border: 0;
  height: 24px
}

.ant-pagination-simple .ant-pagination-next .ant-pagination-item-link:after,
.ant-pagination-simple .ant-pagination-prev .ant-pagination-item-link:after {
  line-height: 24px
}

.ant-pagination-simple .ant-pagination-simple-pager {
  display: inline-block;
  margin-right: 8px;
  height: 24px
}

.ant-pagination-simple .ant-pagination-simple-pager input {
  margin-right: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #a8a8a8;
  outline: none;
  padding: 0 6px;
  height: 100%;
  text-align: center;
  -webkit-transition: border-color .3s;
  -o-transition: border-color .3s;
  transition: border-color .3s
}

.ant-pagination-simple .ant-pagination-simple-pager input:hover {
  border-color: #f57224
}

.ant-pagination.mini .ant-pagination-simple-pager,
.ant-pagination.mini .ant-pagination-total-text {
  height: 20px;
  line-height: 20px
}

.ant-pagination.mini .ant-pagination-item {
  border: 0
}

.ant-pagination.mini .ant-pagination-item,
.ant-pagination.mini .ant-pagination-next,
.ant-pagination.mini .ant-pagination-prev {
  margin: 0;
  min-width: 20px;
  height: 20px;
  line-height: 20px
}

.ant-pagination.mini .ant-pagination-next .ant-pagination-item-link,
.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link {
  border: 0
}

.ant-pagination.mini .ant-pagination-jump-next,
.ant-pagination.mini .ant-pagination-jump-prev,
.ant-pagination.mini .ant-pagination-next .ant-pagination-item-link:after,
.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link:after {
  height: 20px;
  line-height: 20px
}

.ant-pagination.mini .ant-pagination-options {
  margin-left: 8px
}

.ant-pagination.mini .ant-pagination-options-quick-jumper {
  height: 20px;
  line-height: 20px
}

.ant-pagination.mini .ant-pagination-options-quick-jumper input {
  padding: 1px 7px;
  height: 22px;
  width: 44px
}

@media only screen and (max-width:1024px) {
  .ant-pagination-item-after-jump-prev,
  .ant-pagination-item-before-jump-next {
    display: none
  }
}

@media (max-width: 767px) {
  .ant-pagination-next,
  .ant-pagination-prev {
    display: none;
  }
}

.search-result p {
  color: #4f4f4f;
  font-size: 20px;
  margin-bottom: 0;
}

.search-result a {
  color: #4f4f4f;
  font-size: 20px;
  text-decoration: underline;
  word-wrap: break-word;
}

.qa-result a {
  float: left;
  width: 100%;
  color: #4c4c4c;
  font-size: 22px;
  text-decoration: none;
  word-wrap: break-word;
  margin-top: 15px;
  line-height: 22px;
}

.qa-result small {
  margin-right: 40px;
}

.search-page-box {
  width: 100%;
  border: 1px solid #1f3874;
  height: 45px;
  color: #1f3874;
  font-size: 20px;
  padding-left: 20px;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(31, 56, 116, 0.3);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(31, 56, 116, 0.3);
  box-shadow: inset 0px 0px 10px 0px rgba(31, 56, 116, 0.3);
  /* background: #e7e7e7 url('../img/download-form-th.png') top center repeat-x; */
  position: relative;
}

.search-page-box-2 {
  width: 80%;
  border: 1px solid #1f3874;
  height: 47px;
  color: #1f3874;
  font-size: 20px;
  padding-left: 20px;
  /* -webkit-box-shadow: inset 0px 0px 10px 0px rgba(31,56,116,0.3);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(31,56,116,0.3);
  box-shadow: inset 0px 0px 10px 0px rgba(31,56,116,0.3);
  background: #e7e7e7 url('../img/download-form-th.png') top center repeat-x; */
  position: relative;
}

.type-of-qa {
  width: 100%;
  border: 1px solid #1f3874;
  height: 47px;
  color: #1f3874;
  font-size: 20px;
  padding-left: 20px;
  /* background: #fff url('../img/select-r-border.png') right center no-repeat!important; */
  background-position-x: 85% !important;
}

.type-of-qa.ebebeb {
  /* background: #ebebeb url('../img/select-r-border.png') right center no-repeat!important; */
  border: 0;
  background-position-x: 85% !important;
  font-family: "Thai Sans Neue Regular", 'Open Sans', Arial, sans-serif;
}

.search-page-btn {
  border: 0;
  /* background: url('../img/search-btn-bg.png') center no-repeat; */
  width: 43px;
  height: 43px;
  float: right;
  top: 25px;
  position: absolute;
  right: 20px;
}

.search-page-btn.top0 {
  top: 0;
}

@media (max-width: 767px) {
  .search-page-btn {
    top: 25px;
  }
  .search-page-box-2 {
    width: 100%;
  }
  .search-of-qa .btn {
    width: 100% !important;
  }
}

.select-custom {
  position: relative;
  /*display: inline-block;
  margin-bottom: 20px; */
}

.select-custom select {
  font-family: "Thai Sans Neue Regular", 'Open Sans', Arial, sans-serif;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* background: url('../img/select-r-border.png') right center no-repeat; */
  background-position-x: 85%;
}

.select-custom select:disabled.simple-control::-ms-expand {
  display: none;
}

.select-custom select::-ms-expand {
  display: none;
}

.select-custom select:hover,
.select-custom select:focus {
  color: #000000;
}

.select-custom select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select-custom .select_arrow {
  position: absolute;
  top: 40%;
  right: 6%;
  width: 0;
  height: 0;
  border: solid #1f3874;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.select-custom select:hover~.select_arrow,
.select-custom select:focus~.select_arrow {
  border-top-color: #262626;
}

.select-custom select:disabled~.select_arrow {
  border-top-color: #CCCCCC;
}

@media (max-width: 992px) {
  .select-custom select {
    background-position-x: 85%;
  }
}

.select-custom select.qa-add {
  width: 100%;
  border: 1px solid #c0c0c0;
  height: 40px;
  color: #797979;
  font-size: 20px;
  padding-left: 20px;
  /* background: #fafafa url('../img/select-r-border.png') right center no-repeat!important; */
  background-position-x: 91% !important;
}

.select-custom .select_arrow.qa-add {
  right: 4%;
}

.last-qa {
  font-size: 26px;
  color: #b2b2b2;
  /* background: url('../img/last-qa-bg.png') left center no-repeat; */
  background-position-x: 5px;
  padding-left: 26px;
  padding-right: 10px;
  margin-right: 70px;
}

.last-qa:hover,
.last-qa.active {
  text-decoration: none;
  color: #4c4c4c;
  /* background: url('../img/last-qa-bg-active.png') left center no-repeat; */
  background-position-x: 5px;
  border-bottom: 2px solid #ffa837;
}

.addnew-qa {
  font-size: 26px;
  color: #b2b2b2;
  /* background: url('../img/addnew-qa-bg.png') left center no-repeat; */
  background-position-x: 5px;
  padding-left: 35px;
  padding-right: 10px;
  margin-right: 70px;
}

.addnew-qa:hover,
.addnew-qa.active {
  text-decoration: none;
  color: #4c4c4c;
  /* background: url('../img/addnew-qa-bg-active.png') left center no-repeat; */
  background-position-x: 5px;
  border-bottom: 2px solid #ffa837;
}

.goto-faqs-btn {
  /* background: #1f3874 url('../img/faqs-btn.png') left center no-repeat; */
  padding: 7px 18px;
  padding-left: 38px;
  float: left;
  color: #fff !important;
  font-size: 22px;
  text-decoration: none !important;
  background-position-x: 7%;
  border-radius: 6px !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(31, 56, 116, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(31, 56, 116, 1);
  box-shadow: 0px 0px 5px 0px rgba(31, 56, 116, 1);
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s;
  margin-top: -15px;
}

.goto-faqs-btn:hover {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(31, 56, 116, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(31, 56, 116, 0.75);
  box-shadow: 0px 0px 10px 2px rgba(31, 56, 116, 0.75);
}

.qa-add {
  color: #797979;
  font-size: 22px;
}

.qa-add .frm_col input[type=text] {
  width: 100%;
}

.qa-add .frm_col textarea {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #c0c0c0;
}

.col-left-padding {
  padding-right: 30px;
}

.half-51 {
  width: 51%;
}

.half-49 {
  width: 49%;
}

@media (max-width: 767px) {
  .last-qa {
    padding-right: 5px;
    margin-right: 5px;
  }
  .addnew-qa {
    padding-right: 5px;
    margin-right: 5px;
  }
  .goto-faqs-btn {
    padding: 7px 15px;
    padding-left: 39%;
    width: 100%;
    background-position-x: 31%;
    margin-bottom: 26px;
    margin-top: 5px;
  }
  .col-left-padding {
    padding-right: 0;
  }
  .half-51 {
    width: 100%;
  }
  .half-49 {
    width: 100%;
  }
  .select-custom {
    margin-bottom: 20px;
  }
}

.news-category {
  padding-left: 0;
}

.news-category li {
  width: 100%;
  border-bottom: 1px solid #003764;
  padding-left: 0;
  list-style: inside;
  color: #003764;
  padding: 5px 0;
}

.news-category li a {
  color: #003764;
  text-decoration: none;
  margin-left: -10px;
}

@-moz-document url-prefix() {
  .news-category li a {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .news-category li a {
    margin-left: 0;
  }
}

/* Blog */

.main-content .blog-post {
  margin: 0 0 60px;
}

.main-content .blog-post:last-child {
  margin: 0;
}

.blog-post {
  margin-bottom: 35px;
  margin-top: 20px;
  overflow: hidden;
}

.post-image {
  padding-left: 0;
  padding-right: 5px;
  text-align: center;
}

.post-image>div {
  padding: 0;
}

.post-meta a {
  font-size: 18px;
  color: #1f3874;
}

.post-content h5 {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .post-content h5 {
    margin-top: 0;
  }
}

.post-content h5 a {
  font-size: 30px;
  line-height: 23px;
  text-decoration: none;
}

.post-thumbnail img {
  width: 100%;
}

.timeline-container .post-thumbnail img {
  padding: 10px 10px 0;
}

.post-meta {
  padding: 0;
  text-align: center;
}

span.post-date {
  display: block;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

span.post-day {
  font-size: 70px;
  line-height: 42px;
  display: inline-block;
  margin: 0 0 10px;
  color: #ffa837;
  font-weight: normal;
}

span.post-format {
  display: block;
  text-align: center;
  margin: 8px 0 0;
  color: #3164b4;
  font-size: 20px;
}

span.post-format span {
  display: inline-block;
  width: 30px;
  height: 30px;
  /* background: url(../img/sprites/post-format-icons.png) no-repeat; */
}

span.post-format span.photo-icon {
  background-position: 0 0;
}

span.post-format span.document-icon {
  background-position: -60px 0;
}

span.post-format span.video-icon {
  background-position: -30px 0;
}

span.post-format span.link-icon {
  background-position: -90px 0;
}

span.post-format span.audio-icon {
  background-position: -120px 0;
}

.post-image .post-thumbnail {
  padding-left: 10px;
}

ul.post-meta {
  list-style: none;
  padding: 0 0 10px;
  margin: 0;
  border-bottom: 1px solid #d1d3d4;
  overflow: hidden;
}

.timeline-container .blog-post ul.post-meta {
  border-bottom: none;
}

ul.post-meta li {
  float: left;
  margin-right: 5px;
  color: #23323A;
  font-size: 13px;
  /* background: url(../img/post-meta-square.png) left center no-repeat; */
  padding-left: 15px;
}

ul.post-meta li.social-icon-set {
  padding-left: 0;
}

ul.post-meta li.social-icon-set a i {
  color: #92a6b0;
}

ul.post-meta li:first-child {
  background: none;
  padding-left: 0;
}

ul.post-meta li .icons {
  font-size: 14px;
  position: relative;
  top: 1px;
}

ul.post-meta .read-more:after {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-left: 5px;
  /* background: url(../img/sprites/read-more-arrow.png) no-repeat; */
  position: relative;
  top: 2px;
}

.post-content {
  line-height: 16px;
}

.post-content p {
  padding-top: 10px;
  line-height: 18px;
}

.post-content.social-media-wrapper {
  position: relative;
}

.post-content .social-media {
  position: absolute;
  top: 0;
  right: 10px;
}

.post-content .social-media i {
  font-size: 15px;
}

.post-content h4 {
  margin: 11px 0;
  line-height: 18px;
  color: #163c5b;
  font-size: 18px;
}

.post-content h4 .icons {
  color: #777;
}

.avatar {
  padding: 5px;
  margin: 10px 0 0;
}

span.author {
  font-size: 11px;
}

.post-thumbnail {
  position: relative;
}

.post-hover {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 100;
  margin-top: -25px;
}

.post-hover a {
  width: 58px;
  height: 58px;
  margin: 0 5px;
  display: inline-block;
  background-color: #2a3b45;
  background-color: rgba(0, 0, 0, 0.4);
  /* background-image: url(../img/sprites/hover-icons.png); */
  border: 4px solid #eee;
  border: 4px solid rgba(238, 238, 238, 0.12);
  color: #fff;
  text-align: center;
  font-size: 24px;
  padding-top: 15px;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  transition: transform .3s, opacity .6s, background .3s;
  -webkit-transition: -webkit-transform .3s, opacity .6s, background .3s;
  -moz-transition: -moz-transform .3s, opacity .6s, background .3s;
}

.post-hover a.link-icon {
  background-position: -50px 0;
}

.post-hover a.search-icon {
  background-position: 0 0;
}

.post-hover a.video-icon {
  background-position: -100px 0;
}

.post-hover a:hover {
  background-color: rgba(0, 0, 0, .8);
}

.post-image-gallery .slides li {
  position: relative;
}

.post-image-gallery img {
  height: auto;
}

.post-thumbnail:hover .post-hover a,
.post.format-gallery .post-image-gallery .slides li:hover .post-hover a {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.post.format-gallery .post-thumbnail:hover .post-hover a {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.post-image-gallery a.flex-prev,
.post-image-gallery a.flex-next {
  top: 10px;
  left: 10px;
  margin: 0;
  /* background: #23323a url(../img/sprites/post-gallery-arrows.png) 0 0 no-repeat; */
  /* background: rgba(35, 50, 58, .45) url(../img/sprites/post-gallery-arrows.png) 0 0 no-repeat; */
  width: 30px;
  height: 30px;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
}

.post-image-gallery a.flex-next {
  left: 41px;
  background-position: -30px 0;
}

.post-image-gallery a.flex-prev:hover,
.post-image-gallery a.flex-next:hover {
  background-color: #008fd5;
}

.blog-post.masonry {
  border: 1px solid #ddd;
  padding: 0;
  position: relative;
}

.blog-post.masonry>div {
  padding: 0;
}

.timeline-container .post-video iframe {
  width: 100%;
}

.blog-post.masonry .post-content {
  padding: 20px;
}

.blog-post.masonry h4 {
  line-height: 32px;
  vertical-align: middle;
  font-weight: 400;
}

.blog-post h4 .icons {
  margin-right: 10px;
}

.post-footer {
  background: #f7f7f7;
  overflow: hidden;
  padding: 10px 20px !important;
}

.post-footer .avatar {
  width: 60px;
  float: left;
  margin: 0;
  margin-right: 10px;
}

.post-footer .post-date {
  display: block;
  text-align: left;
}

.post-footer span.post-day {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 5px 0 0;
}

.blog-post blockquote {
  margin: 0;
  width: 100%;
}

.blog-post .post-content blockquote {
  margin: 20px 0;
}

.post-author {
  display: block;
  position: relative;
  padding: 30px;
  /* background: #19242a url(../img/post-author.png) right top no-repeat; */
  color: #73848e;
  padding-left: 120px;
}

.post-author img {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 70px;
}

.post-author h3 {
  color: #d2f0ff;
  margin-top: 0;
}

.post-comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-comments li ul {
  padding-left: 30px;
}

.post-comments>ul>li .comment {
  padding: 30px 20px;
  background: #fcfcfc;
  border: 1px solid #eee;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}

.post-comments .comment-author {
  float: left;
  margin-right: 20px;
  width: 50px;
  text-align: center;
}

.post-comments .comment-author img {
  margin-top: 0;
  padding: 0;
}

.post-comments .comment-author span.author {
  display: block;
  line-height: 16px;
  font-size: 10px;
  color: #23323a;
  margin-top: 5px;
}

.post-comments .date {
  font-size: 11px;
  display: block;
  margin-bottom: 10px;
}

/* Recent Posts */

.recent-post .post-date {
  color: #23323a;
}

.recent-post {
  zoom: 1;
}

.recent-post:after,
.recent-post:before {
  content: '';
  display: table;
}

.recent-post:after {
  clear: both;
}

.recent-post .post-image {
  width: 60px;
  float: left;
  margin-right: 30px;
  padding: 0;
}

.recent-post .recent-post-meta {
  float: left;
  width: 60px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.recent-post .post-thumbnail {
  float: left;
  width: 130px;
  padding: 0;
  margin: 10px 10px 10px 0px;
}

/* Timeline */

.timeline-container {
  position: rleative;
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 20px;
  bottom: 20px;
  height: 100%;
  border: 1px solid #fff;
  margin-left: -1px;
}

.timeline-line:after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  margin-left: -5px;
  border-radius: 50%;
  -moz-border-radius: 50%;
}

.left-timeline-item {
  padding-right: 40px;
  position: relative;
}

.right-timeline-item {
  padding-left: 40px;
  position: relative;
}

.left-timeline-item:after {
  content: '';
  display: block;
  position: absolute;
  right: 26px;
  top: 43px;
  width: 15px;
  height: 15px;
  /* background: url(../img/timeline-arrow-right.png) no-repeat; */
}

.left-timeline-item:before {
  width: 20px;
  height: 20px;
  content: '';
  display: block;
  position: absolute;
  background: #000;
  top: 40px;
  right: -10px;
  background: #73848e;
  border: 5px solid #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  z-index: 100;
}

.right-timeline-item:after {
  content: '';
  display: block;
  position: absolute;
  left: 26px;
  top: 43px;
  width: 15px;
  height: 15px;
  /* background: url(../img/timeline-arrow-left.png) no-repeat; */
}

.right-timeline-item:before {
  width: 20px;
  height: 20px;
  content: '';
  display: block;
  position: absolute;
  background: #000;
  top: 40px;
  left: -10px;
  background: #73848e;
  border: 5px solid #fff;
  border-radius: 50%;
  z-index: 100;
}

.timeline-date-tooltip {
  text-align: center;
}

.timeline-date-tooltip-top {
  margin-top: 60px;
}

.timeline-date-tooltip span {
  display: inline-block;
  background: #23323a;
  color: #fff;
  padding: 10px 35px;
  position: relative;
  margin-bottom: 40px;
}

.timeline-date-tooltip span:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #23323a;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
}

.timeline-container .blog-post.masonry .post-footer {
  background: #f9fbfc;
  border-bottom: 1px solid #e7eaec;
  border-top: none;
}

.timeline-container .blog-post.masonry .post-footer .avatar {
  width: 50px;
}

.timeline-container .blog-post.masonry .post-date {
  margin: -3px 0;
}

.blog-post.masonry .post-content h4 {
  margin-top: 0;
}

.blog-post.masonry .read-more {
  margin-top: 20px;
  display: block;
}

.blog-post.masonry .post-footer ul.post-meta {
  border-bottom: none;
}

.blog-post.masonry .post-content h4 {
  font-size: 22px;
  font-weight: 400;
}

.blog-post-alternate .post-content h4 {
  font-size: 24px;
  font-weight: 400;
}

.blog-post-meta span.post-day {
  font-weight: 300;
}

.timeline-container .post-video {
  padding: 10px 10px 0;
  background: #fff;
}

.blog-post.masonry span.post-format {
  display: inline-block;
  text-align: left;
  margin: -5px 3px 0 0;
  position: relative;
  top: 7px;
}

.blog-post.masonry .read-more {
  font-size: 14px;
  font-weight: 400;
}

.blog-post-classic.sticky {
  background: #fffffd;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .12);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .12);
}

.blog-post-list,
.blog-post-alternate {
  display: table;
  width: 100%;
  vertical-align: top;
}

.blog-post-list .blog-post-meta,
.blog-post-alternate .blog-post-meta {
  display: table-cell;
  width: 78px;
  padding-right: 0px;
  vertical-align: top;
  color: #23323a;
  float: left;
  min-height: 255px;
}

.post-3778 .blog-post-list .blog-post-meta,
.post-3778 .blog-post-alternate .blog-post-meta {
  margin-right: 15px;
}

.blog-post-list .blog-post-content,
.blog-post-alternate .blog-post-content {
  display: table-cell;
  vertical-align: top;
  max-width: 755px;
}

.blog-post-list .blog-post-meta span.post-date,
.blog-post-alternate .blog-post-meta span.post-date {
  font-size: 20px;
  color: #3164b4;
  font-weight: 400;
}

.blog-post-list .blog-post-meta .avatar,
.blog-post-alternate .blog-post-meta .avatar {
  padding: 0 5px;
}

.blog-post-alternate .blog-post-content .post-content,
.blog-post-alternate .blog-post-content .post-thumbnail {
  padding: 0;
}

.blog-post-alternate.post-detail .blog-post-content .post-thumbnail {
  width: calc(100% - 93px);
}

@media (max-width:767px) {
  .blog-post-alternate.post-detail .blog-post-content .post-thumbnail {
    width: 100%;
  }
}

.blog-post-alternate .blog-post-content .post-content {
  padding-left: 0;
  width: 55%;
  font-size: 20px;
  line-height: 20px;
}

.blog-post-alternate.post-detail .blog-post-content .post-content {
  padding-left: 93px;
  width: 100%;
}

.item-right-style .blog-post-alternate .blog-post-content .post-content {
  padding-left: 25px;
  width: calc(50% - 20px);
}

@media (max-width: 767px) {
  .blog-post-alternate .blog-post-content .post-content {
    width: 100% !important;
  }
  .blog-post-alternate.post-detail .blog-post-content .post-content {
    padding-left: 0;
    width: 100%;
  }
  .item-right-style .blog-post-alternate .blog-post-content .post-content {
    padding-left: 0;
    margin-top: -30px;
  }
}

.blog-post-alternate .blog-post-content .post-content.col-lg-pull-6 {
  padding-right: 30px;
  padding-left: 0;
}

.post-3778 .blog-post-alternate .blog-post-content .post-content.col-lg-pull-6 {
  padding-right: 0px;
}

.blog-post.alternate-style {
  margin: 0;
}

.blog-post.alternate-style+.blog-post.alternate-style {
  margin-top: 20px;
}

.blog-post-list .post-meta {
  margin-top: 10px;
}

.blog-post-list.post-single .post-meta {
  margin-bottom: 10px;
}

.blog-post-list.post-single+.post-author {
  margin-top: 20px;
}

.blog-post-list .post-content h4 {
  font-size: 24px;
  font-weight: 400;
}

.blog-post-list .read-more,
.blog-post-alternate .read-more {
  display: block;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  color: #1f3874 !important;
  text-decoration: underline;
}

.post-comments .comment-reply-link {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
}

.blog-post.masonry .read-more:after,
.blog-post-list .read-more:after,
.blog-post-alternate .read-more:after,
.post-comments .comment-reply-link:after {
  content: '';
  width: 14px;
  height: 14px;
  display: inline-block;
  /* background:url(../img/sprites/read-more-arrow-big.png) no-repeat; */
  margin: 0 0 0 10px;
  position: relative;
  top: 1px;
}

.blog-post.masonry .blog-format-audio>.audio-player {
  margin: 20px 20px 0 !important;
  width: auto !important;
}

.timeline-container .blog-post.masonry .blog-format-audio>.audio-player {
  margin: 0 !important;
}

.blog-post-meta span.author {
  display: block;
  text-align: center;
}

.blog-post-alternate .blog-post-content .post-content.full-width-alternate {
  padding: 0;
}

.blog-post.masonry .post-footer {
  border-top: 1px solid #e5e8ea;
}

.blog-post.masonry .post-date {
  font-size: 11px;
  color: #23323a;
  font-weight: 400;
}

.blog-post.masonry .post-footer span.post-day {
  font-size: 11px;
}

@media (max-width:767px) {
  .post-thumbnail img {
    width: 100%;
    margin: 10px 0;
  }
  .post-image {
    text-align: center;
  }
  span.post-day {
    font-size: 20px;
    line-height: unset;
  }
  span.post-date br {
    display: none;
  }
  span.post-date,
  span.post-format {
    float: right;
    display: inline-block;
    margin: 0 0px;
  }
  span.post-format {
    display: none;
  }
  .blog-post-list .blog-post-meta,
  .blog-post-alternate .blog-post-meta {
    display: table-cell;
    width: 80%;
    padding-right: 0px;
    vertical-align: top;
    color: #23323a;
    float: right;
    min-height: 0;
  }
  .blog-post-alternate .blog-post-content .post-content.col-lg-pull-6 {
    padding-right: 0px;
    padding-left: 0;
  }
  ul.post-meta {
    border-bottom: 0px;
  }
  @media (max-width:767px) {
    .blog-post-alternate.post-detail .blog-post-content .post-content ul.post-meta {
      border-bottom: 1px solid #ccc;
    }
  }
  .blog-post-content {
    display: block !important;
    width: 100% !important;
  }
  .blog-post-alternate .blog-post-content .post-content.col-lg-pull-6 {
    /* padding-right: 30px; */
    padding-left: 0;
    margin-top: 10px;
  }
}

/* register */

#user-register-accordion h3 {
  font-size: 36px;
  color: #1f3874;
  font-weight: bold;
  /* background: url('../img/triangle-1-s.png') left bottom no-repeat; */
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-position-y: 100%;
}

#user-register-accordion h4 {
  font-size: 26px;
  color: #1f3874;
  font-weight: 700;
  letter-spacing: 0;
  background: url('../img/triangle-1-s.png') left center no-repeat;
  margin-bottom: 10px;
  padding-left: 30px;
}

@media (max-width:767px) {
  #user-register-accordion h4 {
    font-size: 24px;
  }
}

#user-register-accordion .frm_col textarea {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #c0c0c0;
}

#user-register-accordion input[type=file] {
  background: url('../img/file-bg.png') right center no-repeat;
  border: 1px solid #c0c0c0;
  background-color: #fafafa;
  width: 100%;
}

/* cart */

.cart-panel {
  z-index: 9999;
  position: fixed;
  top: 169px;
  /* background: url('../img/cart-panel-bg.png') left center no-repeat; */
  padding: 14px 21px;
  padding-top: 19px;
  height: 62px;
  -webkit-box-shadow: 13px 2px 10px 0px rgba(38, 38, 38, 0.5);
  -moz-box-shadow: 13px 2px 10px 0px rgba(38, 38, 38, 0.5);
  box-shadow: 13px 2px 10px 0px rgba(38, 38, 38, 0.5);
  right: -118px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
  right: -125px;
  min-width: 200px;
}

.cart-panel a {
  display: none;
}

@media (min-width:993px) {
  .cart-panel:hover,
  .cart-panel:focus,
  .cart-panel.active {
    right: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    /* background: url('../img/cart-panel-bg-2.png') left center no-repeat; */
  }
  .cart-panel:hover a {
    display: block;
  }
}

.cart-panel.active a {
  display: block;
}

body:focus .cart-panel {
  right: -125px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}

.cart-panel a {
  float: left;
}

.cart-panel img {
  float: left;
  margin-left: 14px;
}

.cart-panel p {
  float: left;
  color: #4a4a4a;
  font-size: 22px;
  margin-left: 14px;
}

.cart-panel span {
  border-radius: 20px !important;
  background-color: #ffa837;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  line-height: 20px;
  position: absolute;
  z-index: 1;
  margin-top: -5px;
  left: 20px;
}

@media (max-width:767px) {
  .cart-panel {
    top: 116px;
  }
  .cart-panel.active {
    right: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    /* background: url('../img/cart-panel-bg-2.png') left center no-repeat; */
  }
}

.fav-item {
  /* background: url('../img/fav-item-bg.png') left top no-repeat; */
  background-size: 90%;
  padding: 8%;
  padding-right: 110px;
}

.wait-item-bg {
  /* background: url('../img/wait-item-bg.png') left top no-repeat; */
  background-size: 90%;
}

.fav-list-item:nth-child(n+4) {
  margin-top: -50px;
}

@media (max-width: 993px) {
  .col_3.fav-list-item {
    width: 50%;
  }
  .fav-list-item:nth-child(n+3) {
    margin-top: -35px;
  }
}

@media (max-width:767px) {
  .col_3.fav-list-item {
    width: 100%;
  }
  .fav-item {
    padding: 10%;
    padding-right: 37%;
    background-size: 100%;
  }
  .fav-list-item:nth-child(n+2) {
    margin-top: -35px;
  }
}

.fav-item label {
  font-size: 20px;
  color: #000000;
  line-height: 21px;
  margin: 0;
  min-height: 42px;
}

.fav-item label:nth-child(n+2) {
  min-height: 35px;
}

.fav-item span.p-blue {
  color: #1f3874;
  font-size: 24px;
  font-weight: 700;
}

.action-pane {
  height: 60px;
}

@media (max-width: 993px) {
  .action-pane {
    height: 47px;
    width: 120%;
  }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 667px) {
  .fav-item label {
    font-size: 36px;
    min-height: 53px;
    line-height: 34px
  }
  .fav-item label:nth-child(n+2) {
    min-height: 53px;
  }
  .fav-item span.p-blue {
    font-size: 36px;
  }
  .action-pane {
    height: 73px;
  }
}

@media only screen and (min-device-width: 321px) and (max-device-width: 375px) {
  .fav-item label {
    font-size: 26px;
    min-height: 42px;
    line-height: 26px
  }
  .fav-item label:nth-child(n+2) {
    min-height: 53px;
  }
  .fav-item span.p-blue {
    font-size: 36px;
  }
  .action-pane {
    height: 73px;
  }
}

@media only screen and (max-device-width: 320px) {
  .fav-item label {
    font-size: 26px;
    min-height: 42px;
    line-height: 24px
  }
  .fav-item label:nth-child(n+2) {
    min-height: unset;
  }
  .fav-item span.p-blue {
    font-size: 28px;
  }
  .action-pane {
    height: 63px;
  }
}

.add-2-cart {
  float: left;
  width: 43px;
  height: 33px;
  /* background: url('../img/add-2-cart.png') center no-repeat; */
}

.fav-it {
  float: left;
  width: 43px;
  height: 39px;
  /* background: url('../img/fav-icon.png') center no-repeat; */
}

.fav-it.active,
.fav-it:hover {
  /* background: url('../img/faved.png') center no-repeat; */
}

.pay-valid {
  background-color: #ffa927;
  border-top: 5px solid #ffd493;
  height: 27px;
  float: left;
  text-align: center;
  font-size: 16px;
  color: #223a74;
  margin-left: -16%;
  width: 149%;
}

.wait-item-bg .pay-valid {
  background-color: #48a6fa;
  border-top: 5px solid #b9deff;
}

@media (max-width:767px) {
  .pay-valid {
    font-size: 22px;
    margin-left: -20%;
    width: 164%;
    height: 40px;
  }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 667px) {
  .pay-valid {
    margin-top: 0;
  }
}

@media only screen and (min-device-width: 321px) and (max-device-width: 375px) {
  .pay-valid {
    margin-top: -10px;
  }
}

@media only screen and (max-device-width: 320px) {
  .pay-valid {
    margin-top: 0;
  }
}

.paging-fav {
  margin-top: -50px;
}

.paging-payment-1 {
  margin-top: -62px;
}

a.paging,
a.paging-n,
a.paging:hover a.paging-n:hover {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  padding: 2px 10px;
  width: 31px;
  height: 31px;
  line-height: 20px;
}

a.paging,
a.paging:hover {
  border: 1px solid #dddddd;
  padding: 5px 11px;
  color: #ffa927;
  border-radius: 2px;
  text-decoration: none;
}

a.paging-n,
a.paging-n:hover {
  border: 0px solid #dddddd;
  padding: 5px 5px;
  width: auto;
  color: #333;
  border-radius: 2px;
  text-decoration: none;
}

.scrollbar-rail .download-form {
  overflow-y: hidden;
}

.wait-credit-icon {
  float: left;
  width: 31px;
  height: 20px;
  /* background: url('../img/wait-credit-icon.png') center no-repeat; */
}

.wait-qr-icon {
  float: left;
  width: 21px;
  height: 21px;
  /* background: url('../img/wait-qr-icon.png') center no-repeat; */
}

.wait-barcode-icon {
  float: left;
  width: 29px;
  height: 22px;
  /* background: url('../img/wait-barcode-icon.png') center no-repeat; */
}

.wait-print-icon {
  float: left;
  width: 23px;
  height: 21px;
  /* background: url('../img/wait-print-icon.png') center no-repeat; */
}

#Modal-qr,
#Modal-barcode,
#Modal-print {
  top: 8%
}

#Modal-qr .modal-title,
#Modal-barcode .modal-title,
#Modal-print .modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #fff;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  background-color: #1f3874;
}

#Modal-qr .modal-header,
#Modal-barcode .modal-header {
  min-height: 33px;
  padding: 0;
  border-bottom: 0 solid #e5e5e5;
  padding: 0;
  background-color: #fff;
}

#Modal-print .modal-header {
  min-height: 33px;
  padding: 0;
  border-bottom: 0 solid #e5e5e5;
  padding: 0;
  background-color: unset;
}

#Modal-qr .modal-header .close,
#Modal-barcode .modal-header .close,
#Modal-print .modal-header .close {
  margin-top: 0px;
  background-color: #ffa837;
  padding: 6px 11px;
  opacity: 1;
  color: #fff;
  font-weight: normal;
}

#Modal-qr .modal-content,
#Modal-barcode .modal-content,
#Modal-print .modal-content {
  background-color: unset;
  box-shadow: none;
  border: none;
}

#Modal-qr .modal-dialog,
#Modal-barcode .modal-dialog {
  width: 399px;
}

#Modal-print .modal-dialog {
  width: 80%;
}

#Modal-qr .modal-body,
#Modal-barcode .modal-body {
  text-align: center;
  padding: 40px;
  padding-top: 20px;
  background-color: #fff;
}

#Modal-print .modal-body {
  text-align: center;
  padding: 0;
  padding-top: 0;
  background-color: #fff;
}

#Modal-qr .modal-body img,
#Modal-barcode .modal-body img,
#Modal-print .modal-body img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  #Modal-qr .modal-dialog,
  #Modal-barcode .modal-dialog {
    width: 90%;
  }
  #Modal-print .modal-dialog {
    width: 90%;
  }
  #Modal-qr .modal-body img,
  #Modal-barcode .modal-body img,
  #Modal-print .modal-body img {
    width: 100%;
  }
}

#Modal-qr .modal-footer,
#Modal-barcode .modal-footer,
#Modal-print .modal-footer {
  padding: 15px;
  text-align: center;
  border-top: 0px solid #e5e5e5;
  background: none;
}

#Modal-print .table-no-border tr {
  background-color: #fff !important;
}

#Modal-print .table-no-border td {
  border: none;
  padding: 10px 0;
  height: unset;
}

@media only screen and (max-width: 767px) {
  #Modal-print table {
    width: 200%;
  }
  #Modal-print .modal-body {
    overflow-x: scroll;
  }
}

.check-bill input[type=file] {
  /* background: url('../img/file-bg.png') right center no-repeat; */
  border: 1px solid #c0c0c0;
  background-color: #fafafa;
  width: 95%;
}

.searchbill-result {
  background-color: #e5eff3;
  text-align: center;
  padding: 50px 0;
}

.searchbill-result img {
  width: auto;
}

.searchbill-result h4 {
  margin-top: 30px;
  font-size: 28px;
  color: #4c4c4c;
  font-weight: bold;
}

.searchbill-result p {
  font-size: 24px;
  color: #797979;
}

.view-all-list h3 {
  margin-bottom: 3px;
}

.cart .page-title table td.cart-step {
  /* background: url('../img/step-1-desktop.png') center no-repeat; */
  background-size: contain;
  width: 709px;
  height: 66px;
  padding: 0 20px;
}

.cart .page-title table td.cart-step-2 {
  /* background: url('../img/step-2-desktop.png') center no-repeat; */
  background-size: contain;
  width: 709px;
  height: 66px;
}

.cart .page-title table td.cart-step-3 {
  /* background: url('../img/step-3-desktop.png') center no-repeat; */
  background-size: contain;
  width: 709px;
  height: 66px;
}

.cart .page-title table td.cart-step-4 {
  /* background: url('../img/step-4-desktop.png') center no-repeat; */
  background-size: contain;
  width: 709px;
  height: 66px;
}

.cart .page-title table td.cart-step-mobile {
  /* background: url('../../images/cart_line_step_1_mobile.png') center no-repeat; */
  background-size: contain;
  height: 30px;
}

.cart .page-title table.desktop-only {
  width: 780px;
}

.cart .padding-left-0-mobile {
  padding-left: inherit !important;
}

.cart .padding-right-0-mobile {
  padding-right: inherit !important;
}

@media (max-width: 993px) {
  .cart .page-title table.desktop-only {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .cart .padding-left-0-mobile {
    padding-left: 0 !important;
  }
  .cart .padding-right-0-mobile {
    padding-right: 0 !important;
  }
  .cart .page-title table tbody {
    display: table;
    width: 100%;
  }
  .cart .page-title table td {
    width: auto;
    word-break: break-all;
    line-height: 18px;
    text-align: left;
    font-size: 18px;
  }
  .cart .page-title table td:first-child {
    line-height: 18px;
  }
  .cart .page-title table td:nth-child(3) {
    text-align: right;
  }
}

.cart .page-title table td h3 {
  font-size: 24px;
  font-weight: bold;
  color: #999999;
}

.cart .page-title table td {
  /* width: 25%; */
}

.cart .page-title table.box-mobile {
  width: 100%;
  font-size: 15px;
  margin-left: 0;
  margin-top: 30px;
  /* background-color: #2f9ee5; */
  border-radius: 6px;
  color: #636363;
  margin-bottom: 20px;
  line-height: 17px;
}

.cart .page-title table.box-mobile img {
  width: 90%;
}

#payment-item div {
  position: relative;
  width: 20%;
  /* background: url('../img/payment-item-bg.png') top center no-repeat; */
  float: left;
  height: 292px;
  color: #fff;
  padding-left: 70px;
  /* padding-right: 0; */
  line-height: 18px;
  padding-top: 25px;
}

@media (max-width: 992px) {
  #payment-item div {
    width: 31%;
  }
}

@media (max-width: 767px) {
  #payment-item div {
    width: 64%;
    padding-left: 20%;
    margin-left: 15%;
  }
}

@media (max-width: 320px) {
  #payment-item div {
    width: 64%;
    padding-left: 50px;
    margin-left: 10%;
  }
}

#payment-item div.alert-date {
  /* background: url('../img/payment-item-bg-2.png') top center no-repeat; */
}

#payment-item div.payment-action {
  float: left;
  width: 100%;
  height: 49px;
  background: none;
  margin-left: -10px;
  padding: 10px 6px;
}

#payment-item .add-2-cart {
  margin-right: 30px;
}

#payment-item span {
  float: left;
  width: 100%;
  font-size: 16px;
  margin-left: -10px;
  margin-top: 5px;
  min-height: 18px;
}

#payment-item p {
  float: left;
  margin-top: 10px;
  color: #000;
  font-size: 20px;
  width: 125px;
  margin-left: -10px;
}

#payment-item label {
  color: #1f3874;
  font-size: 24px;
}

#payment-item .icon-fav {
  margin-top: -32px;
  margin-left: 55px;
  margin-bottom: 0;
  border: 1px solid #223a74;
  border-radius: 24px !important;
}

.cart .h-text {
  font-size: 30px;
  color: #1f3874;
  /* background: url('../img/payment-h2.png') left center no-repeat; */
  text-align: left;
  height: 56px;
  padding-left: 20px;
  font-weight: bold;
  padding-top: 13px;
  margin-bottom: 0;
}

.table-no-border {
  border: 1px solid #d9d9d9;
}

.table-no-border tr {
  background-color: #fff !important;
}

.table-no-border tr td {
  border: none;
}

@media (max-width: 767px) {
  .table-no-border tr td {
    width: auto;
  }
}

.payment-result {
  text-align: center;
  padding: 50px 0;
}

.payment-result img {
  width: auto;
}

.payment-result h4 {
  margin-top: 30px;
  font-size: 28px;
  color: #4c4c4c;
  font-weight: bold;
}

.payment-result p {
  font-size: 24px;
  color: #797979;
  line-height: 24px;
}

.user-payment-condition {
  background-color: #fff;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 30px;
}

#user-payment-accordion {
  /* min-height: 650px; */
}

#user-payment-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: 14px 0 10px 65px;
  font-size: 24px;
  font-family: "Thai Sans Neue Regular", 'Open Sans', Arial, sans-serif;
  background: none;
  color: #1f3874;
  border: 0;
  font-weight: 600;
  height: 50px;
  /* background: #d9d9d9 url('../img/pay3-noselected.png') left center no-repeat; */
  border-radius: 0;
}

#user-payment-accordion .ui-accordion-header-active {
  /* background: #1f3874 url('../img/pay3-selected.png') left center no-repeat; */
  color: #fff;
}

#user-payment-accordion h3.no-accordion {
  font-size: 36px;
  color: #1f3874;
  font-weight: bold;
  /* background: url('../img/triangle-1-s.png') left bottom no-repeat; */
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-position-y: 100%;
}

#user-payment-accordion .ui-icon-triangle-1-e {
  display: none;
}

#user-payment-accordion .ui-icon-triangle-1-s {
  display: none;
}

#user-payment-accordion .ui-accordion-content {
  font-family: "Thai Sans Neue Regular", 'Open Sans', Arial, sans-serif;
  border: 0;
  color: #797979;
  font-size: 22px;
  padding: 20px 20px 20px 50px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}

#user-payment-accordion .ui-accordion-content .pay-icon-middle {
  margin-top: -18px;
  margin-right: 20px;
}

#user-payment-accordion .ui-accordion-content .floatleft-widthauto {
  text-align: center;
}

#user-payment-accordion .ui-accordion-content:nth-child(3) {
  border-bottom: 0 solid #ccc;
}

#user-payment-accordion .ui-accordion-content h1 {
  border: 0;
  color: #575757;
  font-size: 32px;
  font-weight: 700;
  border-bottom: 1px solid #a6a6a6;
  margin-bottom: 25px;
}

#user-payment-accordion .ui-accordion-content h4 {
  color: #faa739;
  font-size: 22px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .user-payment-condition {
    background-color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#Modal-login-payment .modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #fff;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  background-color: #1f3874;
  padding-left: 19px;
}

#Modal-login-payment .modal-header {
  min-height: 16.43px;
  padding: 0;
  border-bottom: 0 solid #e5e5e5;
  padding: 8px;
  background-color: #1f3874;
}

#Modal-login-payment .modal-header .close {
  margin-top: -29px;
  background-color: #1f3874;
  padding: 6px 11px;
  opacity: 1;
  color: #fff;
  font-weight: normal;
}

#Modal-login-payment .modal-dialog {
  width: 549px;
}

#Modal-login-payment input[type="text"] {
  width: 79%;
  margin-left: 10px;
  margin-bottom: 15px;
}

#Modal-login-payment .modal-body {
  padding: 25px;
}

#Modal-login-payment .modal-body span {
  width: 76px;
  float: left;
  margin-bottom: 15px;
  font-weight: bold;
}

@media (max-width: 767px) {
  #Modal-login-payment .modal-dialog {
    width: 95%;
  }
  #Modal-login-payment .modal-body span {
    width: 100%;
  }
  #Modal-login-payment input[type="text"] {
    width: 100%;
    margin-left: 0;
    margin-bottom: 5px;
  }
}

#Modal-login-payment .modal-footer {
  padding: 0px 15px 15px 15px;
  padding-left: 98px;
  text-align: left;
  border-top: 0px solid #e5e5e5;
}

#Modal-login-payment .modal-footer-2 {
  padding: 0;
  text-align: left;
  border-top: 0px solid #e5e5e5;
  width: calc(100% + 1px);
}

.btn-pay-signup {
  background-color: #cbcbcb;
  width: 35%;
  border: 0;
  height: 50px;
  font-size: 20px;
  color: #1f3874;
  font-weight: bold;
  margin: 0;
  padding: 0;
  float: left;
}

.btn-pay-notsignup {
  background-color: #e6e6e6;
  width: 65%;
  border: 0;
  height: 50px;
  font-size: 20px;
  color: #1f3874;
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  float: left;
}

.bank-selected {
  margin-top: -10px
}

.bank-selected .banktopay.ebebeb {
  /* background: #ebebeb url('../img/select-r-border.png') right center no-repeat!important; */
  border: 0;
  background-position-x: 85% !important;
  font-family: "Thai Sans Neue Regular", 'Open Sans', Arial, sans-serif;
  width: 250px;
  height: 40px;
  padding-left: 20px;
}

#Modal-fillin-payment {
  top: 1%;
}

#Modal-fillin-payment .modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #fff;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  background-color: #1f3874;
}

#Modal-fillin-payment .modal-header {
  min-height: 16.43px;
  padding: 0;
  border-bottom: 0 solid #e5e5e5;
  padding: 8px;
  background-color: #fff;
}

#Modal-fillin-payment .modal-header .close {
  margin-top: 0;
  background-color: #fff;
  padding: 0;
  opacity: 1;
  color: #1f3874;
  font-weight: normal;
}

#Modal-fillin-payment .modal-dialog {
  width: 960px;
}

#Modal-fillin-payment .col_3 input[type="text"] {
  width: 95%;
  margin-left: 0;
  margin-bottom: 10px;
}

#Modal-fillin-payment .half-n-half input[type="text"] {
  width: 90%;
  margin-left: 0;
  margin-bottom: 10px;
}

#Modal-fillin-payment .frm_col .select {
  width: 95%;
  margin-bottom: 10px;
}

#Modal-fillin-payment .modal-body {
  padding-left: 40px;
}

#Modal-fillin-payment .modal-body span {
  width: 72px;
  float: left;
  margin-bottom: 15px;
}

#Modal-fillin-payment .modal-footer {
  padding: 0px 15px 15px 15px;
  padding-left: 98px;
  text-align: left;
  border-top: 0px solid #e5e5e5;
}

@media (max-width: 767px) {
  #Modal-fillin-payment .modal-dialog {
    width: 95%;
  }
  #Modal-fillin-payment .half-n-half input[type="text"] {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  #Modal-fillin-payment .col_3 input[type="text"] {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  #Modal-fillin-payment .frm_col .select {
    width: 100%;
    margin-bottom: 10px;
  }
  #Modal-fillin-payment .modal-body {
    padding-left: 20px;
  }
}

.summary-title {
  text-align: center;
  /* background: url('../img/download-form-th.png') center; */
  float: left;
  width: 60%;
  padding: 5px 0;
  color: #1f3874;
  font-size: 24px;
  font-weight: bold;
}

.summary-user-data-btn {
  /* background: url('../img/summary-user-data-btn.png') center; */
  float: left;
  width: 40%;
  padding: 10px 0px 9px 43px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-size: 100%;
}

@media (max-width: 767px) {
  .summary-user-data-btn {
    padding: 10px 0px 9px 45px;
    background-size: cover;
  }
}

.summary-user-data-btn:hover {
  color: #fafafa;
  text-decoration: none;
}

.waitlist-to-pay {
  background-color: #fafafa;
  height: 408px;
  width: 100%;
  border: 1px solid #d9d9d9;
  float: left;
  width: 100%;
  padding: 20px;
}

.waitlist-to-pay .scroll-wrapper {
  height: 350px;
}

.waitlist-to-pay .scroll-wrapper .scroll-element {
  background-color: #fafafa;
}

.waitlist-to-pay .scroll-wrapper .scroll-scrolly_visible {
  max-height: 341px !important;
}

.waitlist-to-pay table {
  width: 90%;
  margin: auto;
}

.waitlist-to-pay table td {
  height: 28px;
  border: none;
}

.waitlist-to-pay table td p {
  margin: 0;
}

.summary-to-pay {
  background-color: #fff;
  height: 105px;
  width: 100%;
  border: 1px solid #d9d9d9;
  text-align: right;
  padding: 20px;
  padding-right: 40px;
  float: left;
  width: 100%;
}

#contactus .frm_col input[type=text] {
  width: 100% !important;
  background-color: #fafafa;
  border: 1px solid #c0c0c0;
}

#contactus .frm_col:first-of-type {
  padding-right: 20px;
}

#contactus .frm_col textarea {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #c0c0c0;
}

.contactus-container {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width:767px) {
  #contactus .frm_col:first-of-type {
    padding-right: 0 !important;
  }
  .contactus-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
