@charset "UTF-8";

@font-face {
  font-family: "cgd-icon";
  src:url("fonts/cgd-icon.eot");
  src:url("fonts/cgd-icon.eot?#iefix") format("embedded-opentype"),
    url("fonts/cgd-icon.woff") format("woff"),
    url("fonts/cgd-icon.ttf") format("truetype"),
    url("fonts/cgd-icon.svg#cgd-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cgd-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cgd-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\61";
}
.icon-register:before {
  content: "\62";
}
